@font-face {
	font-family: "Gotham";
	src: url("../fonts/gotham.woff2") format("woff2");
	font-weight: 400;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proxima_nova_regular.woff2") format("woff2");
	font-weight: 400;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	color: #5a5a5a;
	font: 400 16px/25px "Proxima Nova", Arial, Helvetica, sans-serif;
}
img {
	max-width: 100%;
}
ul li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
.hidden {
	display: none;
}
.button {
	display: block;
	border: 0;
	cursor: pointer;
}
.container {
	max-width: 910px;
	margin: 0 auto;
	padding: 0 10px;
}
.header {
	background-color: #fff;
}
.header-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px 0 30px;
	color: #a7a7a7;
}
.header-logo {
	width: 50px;
	height: 50px;
	margin-top: -12px;
}
.header-navbar__list {
	margin: 0;
	font-size: 0;
}
.header-navbar__item {
	display: inline-block;
	margin-right: 100px;
	font-family: Gotham, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}
.header-navbar__item:hover {
	color: #30848a;
}
.header-navbar__list .header-navbar__item:last-child {
	margin-right: 0;
}
.banner {
	position: relative;
	min-height: 450px;
	background-color: #30848a;
}
.banner-wrap {
	position: absolute;
	top: 65px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #30848a url(../img/banner-bg.jpg) center center no-repeat;
	background-size: cover;
}
.banner__title {
	display: block;
	max-width: 430px;
	margin: 95px auto 25px;
	color: #303030;
	font-family: Gotham, Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
}
.banner__subtitle {
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	line-height: 30px;
	text-align: center;
}
.banner__btn {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	margin: 70px auto;
	border: none;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 1, 1, 0.2);
	background-color: #ffffff;
	cursor: pointer;
}
.banner__btn::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 16px;
	height: 11px;
	background: url(../img/icons/path.svg) no-repeat;
	transform: translate(-50%, -50%);
}
.banner__btn:hover {
	box-shadow: 0 0 2px 15px rgb(255,255,255, 0.5);
	transition: .6s;
}
.work-section {
	margin-top: 65px;
	padding: 65px 0 20px;
}
.title {
	position: relative;
	margin: 0 auto 45px;
	color: #303030;
	font-family: Gotham, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
}
.title::after {
	position: absolute;
	content: "";
	top: 55px;
	left: 50%;
	width: 184px;
	height: 3px;
	background-color: #303030;
	transform: translateX(-50%);
}
.work__title::after {
	width: 240px;
}
.subtitle {
	display: block;
	max-width: 535px;
	margin: 0 auto 55px;
	text-align: center;
}
.work-img-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.work__img-box {
	height: 170px;
	margin: 0 auto 60px;
}
.work__img-box:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	cursor: pointer;
}
.work__img {
	width: 260px;
	height: 170px;
}
.team-section {
	padding: 40px 0 60px;
	border: 1px solid rgba(0, 1, 1, 0.1);
	background-color: #f3f3f3; 
}
.team-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.team {
	width: 210px;
	padding: 20px 35px 25px;
	box-shadow: 0 2px 4px rgba(0, 1, 1, 0.2);
	background-color: #ffffff;
}
.team__img {
	width: 80px;
	height: 80px;
	margin: 0 auto 10px;
}
.team-name-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.team__name {
	display: block;
	margin-bottom: 8px;
	color: #303030;
	font-family: Gotham, Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.team__position {
	display: block;
	color: #303030;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
}
.team-social-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.team-social {
	display: block;
	position: relative;
	padding: 10px 15px;
}
.team-social::before {
	position: absolute;
	content: "";
	left: 50%;
	width: 17px;
	height: 17px;
	transform: translateX(-50%);
}
.team-social_twit::before {
	top: 16px;
	background: url(../img/icons/twit.png) no-repeat;
}
.team-social_linkedin::before {
	top: 14px;
	background: url(../img/icons/linked_in.png) no-repeat;
}
.team-social_dribbble::before {
	top: 15px;
	background: url(../img/icons/dribbbel.png) no-repeat;
}
.team-social_skype::before {
	top: 11px;
	background: url(../img/icons/skype.png) no-repeat;
}
