.bikes-list-wrap {
	background: url(../img/bikes/bikes-bg.jpg) center top fixed no-repeat;
	background-size: cover;
}
.bikes-list {
	@extend .article;
	&__title {
		@extend .title;
		@extend .article__title;
	}
}
.bikes-list-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 50px 50px;
}
.bikes-list__img {
	width: 400px;
	border: 2px solid $color-product;
}
.bikes-btn-wrap {
	@include flexsb;
	width: 300px;
	margin: 30px auto;
	.bikes-btn {
		width: 25px;
		height: 25px;
		border: 1px solid transparent;
		border-radius: 50%;
		&_first {
			background-color: #c98e02;
		}
		&_second {
			background-color: #5dd045;
		}
		&_third {
			background-color: #0296d0;
		}
		&_forth {
			background-color: #dc2e87;
		}
		&_fifth {
			background-color: #b202cd;
		}
		&_sixth {
			background-color: #656565;
		}
		&:hover {
		border: 1px solid #333333;
		transition: 0.4s;
		}
	}
}
.bikes-description {
	width: 50%;
}
.bikes-tabs {
	@extend .subtitle;
	&__list {
		font-size: 0;
		text-align: left;
	}
	&__item {
		display: inline-block;
		margin-right: 10px;
		padding: 0 30px 30px 0;
		font-size: 24px;
		cursor: pointer;
		&_selected {
			color: $color-product;
			&:hover {
				color: $color-product !important;
				cursor: default;
			}
		}
		&:hover {
			color: $color-hover;
			transition: 0.3s;
		}
	}
	&__list li:last-child {
		margin-right: 0;
		padding-right: 0;
	}
}
.bikes-content {
	@extend .article__text;
	margin-bottom: 30px;
}
.bikes-content__price {
	margin-bottom: 30px;
	color: #4263ee;
	font-weight: $semi-bold;
}
.bikes-features {
	&__table {
		border-collapse: collapse;
		line-height: 52px;
	}
	&__data {
		position: relative;
		margin-left: 60px;
		&_frame::before {
			position: absolute;
			content: "";
			top: 10px;
			left: -60px;
			width: 30px;
			height: 30px;
			background: url(../img/icons/frame.svg) no-repeat; 
		}
		&_fork::before {
			@extend .bikes-features__data_frame;
			background: url(../img/icons/fork.svg) no-repeat;
		}
		&_front::before {
			@extend .bikes-features__data_frame;
			background: url(../img/icons/front.svg) no-repeat;
		}
		&_tires::before {
			@extend .bikes-features__data_frame;
			background: url(../img/icons/tires.svg) no-repeat;
		}
	&_bold {
		display: inline-block;
		margin-right: 15px;
		font-weight: $extra-bold;
		}	
	}
}
.bikes-table {
	border-collapse: collapse;
	&__row:nth-child(odd) {
		background-color: rgba(200,200,200,0.5);
	}
	&__row:nth-child(even) {
		background-color: rgba(255,255,255,0.6);
	}
	&__data {
		padding: 5px 10px;
		border: 2px solid #3b3b3b;
		&_bold {
			width: 125px;
			font-weight: $extra-bold;
		}
	}
}
