$color-header: #ededed;
$color-nav:  #1c1c1c;
$color-text:  #3b3b3b;
$color-hover: #ffd700;

$font-main: "Raleway", Arial, Helvetica, sans-serif;

$regular: 400;
$semi-bold: 600;
$extra-bold: 800;
$weight-black: 900;


$fsize-title: 30px;
$fsize-subtitle: 18px;
$fsize-text: 14px;

$spacing-title: 3.75px;
$spacing-subtitle: 2.25px;
$spacing-text: 1.75px;
