@import "_variables.scss";
@import "_mixins.scss";

@media (max-width: 1300px) {
	.container {
		padding: 0 30px 0;
	}
	.title {
		font-size: $fsize-title1200;
	}
	.subtitle {
		font-size: $fsize-subtitle1200;
	}
	.section {
		padding: 60px 0;
	}
	.header-section {
		min-height: 450px;
		padding: 25px 0 100px;
		background-size: 100% 100%;
	}
	.nav-main {
  		&__name {
  			font-size: 20px;
		}
	}
	.burger {
		top: 40px;
		&__item {
			padding-bottom: 10px;
  			font-size: $fsize-subtitle1200;
		}
	}
	.banner {
		margin: 200px 0 0 auto;
		&__title {
			font-size: 40px;
		}
		&__text {
			font-size: 20px;
		}
	}
	.sticky_menu {
		padding: 15px 0;
		&__logo {
			font-size: $fsize-title1200;
		}
	}	
	.sticky-nav {
		&__item {
			font-size: $fsize-subtitle1200;
			margin-right: 50px;
		}
	}
	.about_us {
		@extend .section;
		&__text {
			max-width: 840px;
			line-height: 24px;
		}
	}
	.statisctics-section {
		@extend .section;
	}
	.statisctics {
		padding: 0;
	}
	.numbers {
		&__value {
			font-size: 50px;
		}
		&__item {
			font-size: 20px;
		}
	}
	.products {
		@extend .section;
	}
	.bikes {
		max-width: 305px;
		&__img {
			font-size: $fsize-subtitle1200;
		}
		&__price {
			font-size: $fsize-subtitle1200;
		}
		&__link {
			font-size: $fsize-text;
		}
	}
	.team {
		@extend .section;
	}
	.members {
		&__name {
			font-size: $fsize-subtitle;
		}
		&__position {
			font-size: $fsize-subtitle1200;
		}
	}
	.blog {
		@extend .section;
		&__text {
			font-size: $fsize-subtitle;
		}
	}
	.contact {
		@extend .section;
	}
	.contact-inner-wrap {
		margin: 60px 0 0 0;
	}
	.contact-links {
		&__item {
			font-size: $fsize-text;
		}
	}
	.article {
		margin: 0 120px;
		&__title {
			padding: 20px 0;
		}
		&__inner-title {
			font-size: $fsize-title996;
		}
		&__subtitle {
			max-width: 500px;
			margin-left: 0;
			padding-left: 40px;
			font-size: $fsize-subtitle;
		}
		&__date {
			margin-right: 0;
			padding-right: 40px;
		}
		&__text {
			font-size: $fsize-subtitle1200;
		}
	}
	.article-fashion_img,
	.article-fashion_img,
	.article-fashion_img {
		max-width: 300px;
	}
	.bikes-list {
		margin: 0 25px;
	}
	.bikes-list-content,
	.content-wrap {
		padding: 20px 40px;
	}
	.bikes-description {
		width: 60%;
	}
	.bikes-list__img .bikes__img {
		margin: 0;
	}
	.bikes-list__img {
		max-width: 280px;
		margin-right: 15px;
		padding: 0 2px;
	}
	.bikes__price.bikes-content__price {
		font-size: $fsize-title320;
	}
	.bikes-tabs__item {
		padding-right: 10px;
		font-size: $fsize-subtitle;
	}
	.bikes-content__text {
		font-size: $fsize-subtitle1200;
	}
	.bikes-table {
		font-size: $fsize-subtitle1200;
	}
	.contact .contact-inner-wrap {
		margin-top: 60px;
	}
}
		
@media (max-width: 997px) {
	.title {
		font-size: $fsize-title996;
	}
	.header-section {
		min-height: 400px;
		padding: 25px 0 60px;
		background-size: 100% 100%;
		&::after {
			display: none;
		}
	}
	.nav-main {
  		&__name {
  			font-size: 20px;
		}
	}
	.burger__item {
		font-size: $fsize-text;
	}
	@keyframes moveMenu {
	  0% {
	    margin-right: 25px;
	  }
	  8%,70% {
	    margin-right: 60px;
	  }
	  100% {
	    margin-right: 25px;
	  }
	}
	.banner {
		&__title {
			font-size: $fsize-title996;
		}
		&__text {
			font-size: $fsize-subtitle1200;
		}
	}
	.sticky_menu {
		padding: 10px 0;
		&__logo {
			font-size: $fsize-title996;
		}
	}	
	.sticky-nav {
		&__item {
			font-size: $fsize-text;
			margin-right: 20px;
		}
	}
	.about_us {
		padding: 40px 0;
		&__text {
			max-width: 840px;
			line-height: 24px;
		}
	}
	.statisctics-section {
		padding: 40px 0;
	}
	.numbers {
		width: 200px;
		&__value {
			font-size: 35px;
		}
		&__item {
			font-size: $fsize-subtitle1200;
		}
	}
	.products {
		padding: 40px 0 20px;
		&__subtitle {
			margin-bottom: 20px;
		}
	}
	.bikes {
		max-width: 250px;
		margin-right: auto;
		margin-left: auto;
		&__img {
			font-size: $fsize-subtitle1200;
		}
		&__price {
			font-size: $fsize-subtitle1200;
		}
		&__link {
			font-size: $fsize-text;
		}
	}
	.team {
		padding: 40px 0;
		&__subtitle {
			margin-bottom: 20px;
		}
	}
	.members {
		max-width: 170px;
		&__name {
			font-size: $fsize-subtitle1200;
		}
		&__position {
			font-size: $fsize-text;
		}
	}
	.blog {
		padding: 40px 0;
		&__subtitle {
			margin-bottom: 20px;
		}
		&__text {
			margin-top: 20px;
			font-size: $fsize-text;
		}
	}
	.blog-article__img_name {
		font-size: $fsize-subtitle;
	}
	.contact {
		padding: 40px 0 20px;
	}
	.contact-inner-wrap {
		margin: 40px 0 0 0;
	}
	.contact-links {
		width: 25%;
		&__title {
			font-size: $fsize-text;
		}
		&__item {
			font-size: 12px;
		}
	}
	.contact-social {
		width: 25%;
		&__title {
			font-size: $fsize-text;
		}
	}
	.social {
		text-align: center;
		&__link {
			&::after {
				width: 20px;
				height: 20px;
				margin: 0 auto;
			}
		}	
	}
	.contact-map {
		width: 20%;
	}
	.content-wrap {
		padding: 10px 40px 20px;
	}
	.article {
		margin: 0 20px;
		&__inner-title {
			font-size: $fsize-title320;
		}
		&__subtitle {
			max-width: 400px;
			font-size: $fsize-subtitle1200;
		}
		&__text {
			line-height: 34px;
		}
	}
	.article-manchester_first,
	.article-autumn_first,
	.article-trip_first,
	.article-fasion_first {
		max-width: 220px;
	}
	.article-manchester_second,
	.article-autumn_second,
	.article-autumn_third,
	.article-trip_second {
		max-width: 380px;
	}
	.article-fashion_img,
	.article-fashion_img,
	.article-fashion_img {
		max-width: 280px;
	}
	.blog-article-inner {
		width: 32%;
	}
	.bikes-list-content {
		margin: 0 20px;
		padding: 20px 20px;
	}
	.bikes-list__title,
	.article__title {
		padding: 30px 0 10px;
	}
	.bikes-img-wrap {
		width: 100%;
	}
	.bikes-description {
		width: 100%;
	}
	.bikes-list__img {
		margin: 0 auto;
	}
	.bikes-tabs__item {
		padding-bottom: 15px;
	}
	.bikes-content {
		margin-bottom: 10px;
	}
}	

@media (max-width: 767px) {
	*:focus,
	*:active {
		outline: none;
	}
	.container {
    	padding: 0 5px 0;
	}
	.title {
		font-size: $fsize-title320;
	}
	.header-inner-wrap {
		display: block;
	}
	.header-section {
		height: 100vh;
		background-position: -75px 125px;
		background-size: 180% 80%;
	}
	.header {
		position: fixed;
		top: 0;
		width: 100%;
		margin-left: -5px;
		padding: 10px;
		background: rgba(0,0,0,0.7);
		z-index: 90;
		&__logo {
			font-size: $fsize-title996;
		}
	}
	.header-inner {
		margin-left: 0;
		color: $color-header;
		background: rgba(0,0,0,0.5);
		&__logo {
			color: $color-header;
		}
	}
	.nav-main {
		width: 40px;
		margin-right: 10px;
		&__name {
			font-size: 0;
			&::before {
				left: -32px;
			}
			&:hover::before {
				background-image: url(../img/icons/bike-burger.svg);
			}
			&:hover .nav-main__btn {
			border-top-color: $color-header;
			border-bottom-color: $color-header;
				&::before {
					background-color: $color-header !important;
				}
			}
		}
		&__btn:hover::before  {
			background-color: $color-header !important;
		}
	}
	.burger {
		position: fixed;
		top: 50px;
		width: 112vw;
		height: 100vh;
		margin-top: -4px;
		background-color: rgba(0,0,0,0.7);
		&__list {
			position: absolute;
			top: 0;
			right: 7%;
			margin-top: 5px;
		}
		&__item {
			margin-bottom: 15px;
		}
	}
	.burger-inner {
		background: rgba(0,0,0,0.5);
		&__item {
			color: $color-header;
		}
	}
	.open-burger {
		animation-duration: 15s;
  		animation-fill-mode: forwards;
  		animation-timing-function: ease-in-out;
	}
		@keyframes openBurger {
	 0% {
	    margin-right: 10px;
	  }
	  8%,70% {
	    margin-right: 40px;
	  }
	  100% {
	    margin-right: 30px;
	}
	}
	@keyframes moveMenu {
	  0% {
	    margin-right: 10px;
	  }
	  8%,70% {
	    margin-right: 40px;
	  }
	  100% {
	    margin-right: 10px;
	  }
	}
	.banner {
		margin: 100px auto 0 auto;
		&__title {
			font-size: 20px;
			text-align: center;
		}
		&__text {
			margin: 20px auto 0;
			font-size: $fsize-text;
			text-align: center;
		}
	}
	.sticky_menu {
		display: none;
	}
	.about_us {
		padding: 20px 0;
		&__title {
			margin-bottom: 10px;
			font-size: $fsize-title320;
		}
		&__subtitle {
			margin-bottom: 10px;
			&::after {
				display: none;
			}
		}
		&__text {
			text-align: justify;
		}
	}
	.statisctics-section {
		min-height: 400px;
		padding: 30px 0 20px;
	}
	.statisctics__subtitle {
		margin-bottom: 40px;
	}
	.numbers {
		width: 100%;
		margin-bottom: 20px;
		&__value {
			font-size: 24px;
			margin-bottom: 10px;
		}
		&__item {
			font-size: $fsize-subtitle1200;
		}
	}
	.products {
		padding: 20px 0;
		&__subtitle {
			margin-bottom: 10px;
		}
	}
	.bikes {
		max-width: 250px;
		margin: 0 auto;
			&:hover {
				transform: scale(1);
			}
		&__subtitle {
			margin-bottom: 10px;
		}	
		&__link {
			margin-top: 5px;
		}
	}
	.bikes-second {
		display: none;
	}
	.bikes-third {
		display: none;
	}
	.bikes-forth {
		display: none;
	}
	.bikes-fifth {
		display: none;
	}
	.bikes-sixth {
		display: none;
	}
	.team {
		padding: 20px 0 0;
		&__subtitle {
			margin-bottom: 20px;
		}
	}
	.members {
		max-width: 170px;
		margin: 0 auto 20px;
		&__img {
			margin-right: 5px;
		}
		&__name {
			margin: 5px auto 0;
		}
	}
	.blog {
		padding: 20px 0;
		&__subtitle {
			font-size: 16px;
			margin-bottom: 20px;
		}
		&__text {
			margin-top: 10px;
		}
	}
	.blog-article {
		width: 49%;
		margin-bottom: 3px;
		&__img {
			&::after {
				@include pseudoel;
			      top: 0;
			      left: 0;
			      width: 100%;
			      height: 98%;
			      background-color: rgba(0,0,0,0.2);
			      z-index: 1;
			}
			&:hover::after {
				height: 98%;
			}	
			&_name {
				opacity: 1;
				font-size: $fsize-subtitle1200;
			}
		}
	}
	.contact {
		padding: 20px 0 0;
	}
	.contact-inner-wrap {
		max-width: 85%;
		justify-content: space-around;
		margin: 0 auto;
		padding-left: 10px;
	}
	.contact-links {
		width: 45%;
		margin-bottom: 10px;
		&__title {
			margin-bottom: 10px;
			font-size: 10px;
		}
		&__item {
			margin-bottom: 10px;
			font-size: 8px;
		}
		&:nth-child(2) {
			width: 50%;
		}
	}
	.contact-social {
		order: -3;
		width: 45%;
		margin-bottom: 10px;
		&__title {
			margin-bottom: 15px;
			font-size: 10px;
			text-align: left;
		}
	}
	.social {
		text-align: left;
		&__link {
			margin-right: 15px;
			padding-left: 0;
			&::after {
				width: 15px;
				height: 15px;
				left: 0;
				margin: 0 auto;
			}
		}	
	}
	.contact-map {
		order: -2;
		width: 50%;
		margin-bottom: 10px;
	}
	.modal {
		width: 90%;
		padding: 40px 20px; 
		&__text {
			margin-bottom: 20px;
			font-size: $fsize-subtitle1200;
			line-height: 30px;
		}
		&__btn {
			padding: 10px 40px;
			font-size: $fsize-subtitle1200;
		}
	}
	.modal-product {
		width: 90%;
	}
	.modal-map {
		width: 90%;
	}
	.article {
		margin: 0 -5px;
		padding: 45px 0 0;
		&__title {
			padding-right: 5px;
			padding-left: 5px;
			font-size: $fsize-title320;
		}
		&__inner-title {
			font-size: $fsize-subtitle;
		}
		&__subtitle {
			max-width: 400px;
			font-size: $fsize-subtitle;
		}
		&__date {
			font-size: 12px;
		}
		&__text {
			font-size: $fsize-subtitle1200;
		}
	}
	.article-manchester_first,
	.article-autumn_first,
	.article-trip_first,
	.article-fasion_first {
		float: left;
		max-width: 160px;
		margin: 0 15px 0 0;		
	}
	.article-manchester_second,
	.article-autumn_second,
	.article-autumn_third,
	.article-trip_second {
		display: block;
		float: none;
		max-width: 100%;
		margin: 5px auto;
	}
	.article-fashion_img,
	.article-fashion_img,
	.article-fashion_img {
		max-width: 220px;
	}
	.article-list-box {
		margin: 10px 0 0;
	}
	.blog-article-inner {
		width: 31%;
	}
	.blog-article-inner .blog-article__img_name {
		padding: 0 2px;
		font-size: 10px;
	}
	.bikes-list {
		margin: 0 -5px 0;
		padding-top: 45px;
		&__title {
			font-size: $fsize-title320;
			padding: 20px 0;
		}
	}
	.bikes-list-content {
		margin: 0;
		padding: 0 5px;
	}
	.bikes-tabs__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 0;
	}
	.bikes-tabs__item {
		padding: 0 0 10px;
    	font-size: 13px;
	}
	.bikes-content {
		margin-bottom: 0;
		padding-bottom: 0;
		&__text {
			text-align: justify;
			font-size: $fsize-text;
			line-height: 30px;
		}
	}
	.bikes-description .bikes__price {
		font-size: $fsize-subtitle1200;
		margin-bottom: 20px;
		text-align: center;
	}
	.bikes-features__table {
		font-size: $fsize-text;
	}
	.bikes-table {
		margin-bottom: 10px;
		font-size: $fsize-text;
		line-height: 30px;
	}
	.contact .contact-inner-wrap {
		margin-top: 20px;
	}
	.blog-wrap {
		background-position: 75% 65%;
		background-attachment: fixed;
	}
	.content-wrap {
		margin: 25px 0 0;
		padding: 10px 5px;
	}
}