@font-face {
	font-family: "Gotham Pro";
	src: url("../fonts/GothamProLight.woff2") format("woff2");
	font-weight: 300;
}
@font-face {
	font-family: "Gotham Pro";
	src: url("../fonts/GothamProMedium.woff2") format("woff2");
	font-weight: 500;
}
@font-face {
	font-family: "Gotham Pro";
	src: url("../fonts/GothamProBold.woff2") format("woff2");
	font-weight: 700;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	color: #292929;
	font: 500 14px "Gotham Pro", Arial, Helvetica, sans-srif;
}
img {
	max-width: 100%
}
ul li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
.hidden {
	display: none;
}
.button {
	display: block;
	padding: 20px 5px;
	border: 0;
	color: #0d0d0d;
	font-size: 12px;
	font-weight: 500;
	background-color: #ffd200;
	cursor: pointer;
}
.button:hover {
	color: #ffffff;
	box-shadow: 0 0 3px #ffd200;
	transition: 0.3s;
}
.container {
	max-width: 960px;
	min-width: 300px;
	margin: 0 auto;
	padding: 0 10px;
}
.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 36px;
}
.header-logo {
	position: relative;
	margin-left: 52px;
}
.header-logo::before {
	position: absolute;
	content: "";
	top: -3px;
	left: -51px;
	width: 38px;
	height: 40px;
	background: url(../img/icons/logo.svg) no-repeat;
}
.header-logo:hover::before {
	background: url(../img/icons/logo_hover.svg) no-repeat;
}
.header-logo:hover,
.header-contacts__tel:hover {
	color: #ffcc00;
	cursor: pointer;
}
.header-logo__title {
	margin: 0; 
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.header-logo__subtitle,
.header-contacts__text {
	color: #969696;
	font-size: 11px;
	font-weight: 300;
}
.header-contacts__tel {
	margin-right: 32px;
	text-align: right;
	float: left;
}
.header-contacts__number {
	margin: 0; 	
	font-size: 18px;
	font-weight: 700;
}
.header-contacts__btn {
	margin-top: -3px;
	padding: 11px 21px;
	border: 2px solid #292929;
	background: #ffffff;
}
.header-contacts__btn:hover {
	background-color: #ffd200;
	box-shadow: none;
	border: 2px solid transparent;
	transition: 0.3s;
}
.header-nav-wrap {
	position: relative;
	z-index: 10;
	margin-top: 26px;
}
.header-nav__list {
	display: flex;
	justify-content: space-between;
	text-align: center;
	background-color: #ffcc00;
	padding: 25px 50px 25px 70px;
}
.header-nav__item {
	display: inline-block;
	max-width: 160px;
}
.header-nav__link {
	padding: 25px 0;
	color: #000000;
	font-size: 14px;	
}
.header-nav__link_current {
	cursor: default;
}
.header-nav__link:hover {
	color: #ffffff;
	transition: 0.3s;
}
.header-nav__link_current:hover {
	color: #000000;
	cursor: default;
}
.header-banner {
	margin-top: -32px;
	padding: 162px 0 140px;
	background: #ffffff url(../img/header_bg.jpg) no-repeat;
	background-position: center top;
}
.header-banner__text_big {
	display: block;
	margin-bottom: 32px;
	color: #ffffff;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}
.header-banner__text {
	max-width: 240px;
	margin-bottom: 55px;
	color: #ffffff;
	font-weight: 300;
	line-height: 22px;
}
.header-banner__btn {
	display: inline-block;
	margin-right: 25px;
	padding: 20px 30px;
}
.header-banner__link_small {
	display: inline-block;
	margin-right: 12px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
}
.header-banner__link {
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	text-decoration: underline;
}
.header-banner__link:hover {
	color: #ffcc00;
	cursor: pointer;
	transition: 0.3s;
}
.available-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.available-section-wrap {
	padding: 75px 0 116px;
}
.available-product {
	max-width: 300px;
	border: 2px solid #f6f6f6;
	text-align: center;
}
.available-product:hover {
	box-shadow: 0 0 10px 2px #f6f6f6;
	transition: 0.3s;
}
.available-product__img {
	margin-top: 38px;
}
.title-main {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.available__title {
	margin-bottom: 73px;
}
.available-product__name {
	margin: 25px auto 16px;
}
.available-product__text {
	padding: 0 10px;
	color: #626262;
	font-size: 13px;
	line-height: 15px;
}
.available-product__link {
	text-decoration: underline;
}
.available-product__link:hover {
	color: #ffd200;
	transition: 0.3s;
}
.available-product__price {
	display: block;
	margin: 32px auto 25px;
	color: #0f0f0f;
	font-size: 16px;
}
.available-product__btn {
	display: block;
	margin: 0 auto 36px;
	padding: 20px 55px;
}
.advantages-section-wrap {
	padding: 37px 0 80px;
	background-color: #f4f4f4;
}
.advantages__title {
	margin-bottom: 62px;
}
.advantages-box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 15px;
}
.advantages-item {
	border: 2px solid #ffffff;
	text-align: center;
}
.advantages-item__link {
	position: relative;
	display: block;
	padding: 120px 35px 35px;
	line-height: 21px;
}
.advantages-item__link:hover {
	background-color: #ffffff;
	box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
	transition: 0.3s;
}
.advantages-item_icon1::before {
	background: url(../img/icons/cost.png) no-repeat;
}
.advantages-item_icon2::before {
	background: url(../img/icons/delivery.png) no-repeat;
}
.advantages-item_icon3::before {
	background: url(../img/icons/individual.png) no-repeat;
}
.advantages-item_icon1::before,
.advantages-item_icon2::before,
.advantages-item_icon3::before {
	position: absolute;
	content: "";
	width: 55px;
	height: 50px;
	top: 35px;
	left: 125px;
}
.advantages-item__title {
	margin-bottom: 12px;
	font-size: 15px;
}
.advantages__text {
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
}
.popular-section-wrap {
	padding: 80px 0 94px;
}
.popular-box {
	display: grid;
	grid-template-columns: repeat(4, 220px);
	grid-column-gap: 20px;
	margin-top: 52px;
}
.popular-product {
	border: 2px solid #f6f6f6;
	text-align: center;
}
.popular-product:hover {
	transform: scale(1.05);
	transition: 0.3s;
}
.popular-product__link {
	display: block;
	padding: 20px 10px;
}
.popular-product__img {
	margin-bottom: 18px;
}
.popular-product__img_tag {
	position: relative;
}
.popular-product__img_tag::before {
	position: absolute;
	content: "Акция";
	top: 10px;
	left: 10px;
	width: 55px;
	padding: 5px 0;
	text-align: center;
	color: #ffffff;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #ff0000;
}
.popular-product__title {
	margin-bottom: 7px;
	font-size: 13px;
	font-weight: 300;
	text-decoration: underline;
}
.popular-product__title:hover {
	color: #ffd200;
	transition: 0.3s;
}
.popular-product__cost {
	display: inline-block;
	margin-bottom: 24px;
	color: #000000;
	font-size: 16px;
}
.popular-product__cost_red {
	color: #ff0000;
}
.popular-product__cost_old {
	margin-right: 14px;
	color: #979797;
	font-size: 10px;
	font-weight: 300;
	text-decoration: line-through;
}
.services-section-wrap {
	padding: 70px 0;
	background-color: #f4f4f4;
}
.services-box {
	display: grid;
	grid-template-columns: repeat(3,300px);
	grid-column-gap: 20px;
	margin-top: 58px;
	text-align: center;
}
.services-item {
	border: 2px solid #ffffff;
}
.services-item:hover {
	box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.05);
	transition: 0.3s;
}
.services-item__link {
	position: relative;
	display: block;
	padding: 195px 39px 40px
}
.services-item__link_icon1::before {
	position: absolute;
	content: "";
	width: 255px;
	height: 130px;
	top: 53px;
	left: 22px;
	background: url(../img/icons/track.png) no-repeat;
}
.services-item__link_icon2::before {
	position: absolute;
	content: "";
	width: 255px;
	height: 130px;
	top: 56px;
	left: 22px;
	background: url(../img/icons/big_tractor.png) no-repeat;
}	
.services-item__link_icon3::before {
	position: absolute;
	content: "";
	width: 255px;
	height: 130px;
	top: 47px;
	left: 59px;
	background: url(../img/icons/small_tractor.png) no-repeat;
}		
.services-item__title {
	text-decoration: underline;
}
.services-item__title:hover {
	color: #ffd200;
	transition: 0.3s;
}
.contacts-section-wrap {
	position: relative;
	padding: 86px 0;
	background: #292929 url(../img/contacts_bg.jpg) center top no-repeat;
}
.contacts_btn {
	position: absolute;
	content: "";
	width: 28px;
	height: 42px;
	bottom: 256px;
	left: 603px;
	border: 0;
	background: url(../img/icons/location_big.svg) no-repeat;
	cursor: pointer;
}
.contacts_btn:hover {
	background: url(../img/icons/location_big_hover.svg) no-repeat;
}
.contacts {
	max-width: 380px;
	margin-left: auto;
	padding: 58px 58px 69px;
	background-color: #ffffff;
}
.contacts__title {
	text-align: left;
}
.contacts__tel {
	position: relative;
	display: block;
	margin: 37px 0 0 35px;
	line-height: 30px;
	text-transform: uppercase;
}
.contacts__tel:hover,
.contacts__adress:hover {
	color: #ffd200;
	cursor: pointer;
	transition: 0.3s;
}
.contacts__tel::before,
.contacts__adress::before,
.contacts__email::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	top: 2px;
	left: -32px;
	background: url(../img/icons/phone.svg) no-repeat;
	cursor: pointer;
}
.contacts__tel::before {
	top: 8px;
}
.contacts__tel:hover::before {
	background: url(../img/icons/phone_hover.svg) no-repeat;
	transition: 0.3s;
}
.contacts__adress {
	position: relative;
	margin: 27px 0 38px 35px;
	font-size: 14px;
}
.contacts__adress::before {
	background: url(../img/icons/location.svg) no-repeat;
	transition: 0.3s;
}
.contacts__adress:hover::before {
	background: url(../img/icons/location_hover.svg) no-repeat;
	transition: 0.3s;
}
.contacts__email {
	position: relative;
	margin: 0 35px;
	font-size: 14px;
	text-decoration: underline;
	cursor: default;
}
.contacts__email::before {
	background: url(../img/icons/envelope.png) no-repeat;
	cursor: default;
}
.footer-section-wrap {
	padding: 40px 0 38px;
	color: #ffffff;
	background-color: #292929;
}
.footer-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-copyright {
	position: relative;
	margin: 6px 0 0 50px;
}
.footer-copyright::before {
	position: absolute;
	content: "";
	top: 0px;
	left: -50px;
	width: 37px;
	height: 38px;
	background: url(../img/icons/logo_white.svg) no-repeat;
}
.footer-copyright__text {
	display: block;
	margin: 50px 0 0 -48px;
	font-size: 12px;
	font-weight: 300;
}
.footer-contacts__number {
	margin-left: 21px;
}
.footer-contacts__number:hover {
	color: #ffd200;
	transition: 0.3s;
}
.footer-contacts__btn {
	display: block;
	margin: 29px 0 0 14px;
	border: 2px solid #ffffff;
	color: #ffffff;
	background-color: transparent;
}
.fancybox-content {
	position: relative;
	padding: 125px 75px 75px;
	text-align: center;
}
.fancybox-content::before {
	position: absolute;
	content: "";
	top: 40px;
	left: 180px;
	width: 50px;
	height: 50px;
	background: url(../img/icons/individual.png) no-repeat;
}
.fancybox-button:hover {
	color: #ffd200;
}

