@media (max-width: 1300px) {
  .container {
    padding: 0 30px 0; }
  .title {
    font-size: 26px; }
  .subtitle {
    font-size: 16px; }
  .section, .about_us, .statisctics-section, .products, .team, .blog, .contact {
    padding: 60px 0; }
  .header-section {
    min-height: 450px;
    padding: 25px 0 100px;
    background-size: 100% 100%; }
  .nav-main__name {
    font-size: 20px; }
  .burger {
    top: 40px; }
    .burger__item {
      padding-bottom: 10px;
      font-size: 16px; }
  .banner {
    margin: 200px 0 0 auto; }
    .banner__title {
      font-size: 40px; }
    .banner__text {
      font-size: 20px; }
  .sticky_menu {
    padding: 15px 0; }
    .sticky_menu__logo {
      font-size: 26px; }
  .sticky-nav__item {
    font-size: 16px;
    margin-right: 60px; }
  .about_us__text {
    max-width: 840px;
    line-height: 24px; }
  .statisctics {
    padding: 0; }
  .numbers__value {
    font-size: 50px; }
  .numbers__item {
    font-size: 20px; }
  .bikes {
    max-width: 320px; }
    .bikes__img {
      font-size: 16px; }
    .bikes__price {
      font-size: 16px; }
    .bikes__link {
      font-size: 14px; }
  .members__name {
    font-size: 18px; }
  .members__position {
    font-size: 16px; }
  .blog__text {
    font-size: 18px; }
  .contact-inner-wrap {
    margin: 60px 0 0 0; }
  .contact-links__item {
    font-size: 14px; } }
