.blog-wrap {
  background: url(../img/blog/blog2-bg.jpg) center top fixed no-repeat; }

.blog-wrap-autumn {
  background: url(../img/blog/blog-bg.jpg) center top fixed no-repeat;
  background-size: cover; }

.content-wrap {
  padding: 30px 100px; }

.article, .bikes-list {
  margin: 0 100px;
  background: rgba(255, 255, 255, 0.9); }
  .article__title, .bikes-list__title {
    padding: 50px 0; }
  .article__subtitle {
    display: inline-block;
    max-width: 540px;
    margin: 0 auto 0 100px;
    color: #ff6304;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    line-height: 26px; }
  .article__date {
    display: inline-block;
    float: right;
    margin: 0 100px 0 auto;
    font-size: 18px;
    vertical-align: top;
    font-weight: 600;
    font-style: italic;
    line-height: 26px; }
  .article__inner-title {
    font-size: 24px; }
  .article__text, .bikes-content {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    text-align: justify; }

.article-manchester_first, .article-trip_first, .article-fasion_first, .article-autumn_first {
  max-width: 275px;
  float: right;
  margin: 5px 0 5px 20px; }

.article-manchester_second {
  max-width: 575px;
  float: left;
  margin: 5px 20px 5px 0; }

.article-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 20px;
  margin: 30px 100px 0; }

.article-trip_second {
  max-width: 450px;
  float: left;
  margin: 5px 20px 5px 0; }

.article-fashion_img {
  max-width: 400px;
  margin: 0 auto; }

.article-autumn_first {
  max-width: 270px;
  margin: 0 0 5px; }

.article-autumn_second {
  max-width: 500px;
  float: left;
  margin: 5px 20px 5px 0; }

.article-autumn_third {
  max-width: 450px;
  float: right;
  margin: 5px 0 5px 20px; }

.bikes-list-wrap {
  background: url(../img/bikes/bikes-bg.jpg) center top fixed no-repeat;
  background-size: cover; }

.bikes-list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 50px 50px; }

.bikes-list__img {
  width: 400px;
  border: 2px solid #4263ee; }

.bikes-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
  margin: 30px auto; }
  .bikes-btn-wrap .bikes-btn {
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    border-radius: 50%; }
    .bikes-btn-wrap .bikes-btn_first {
      background-color: #c98e02; }
    .bikes-btn-wrap .bikes-btn_second {
      background-color: #5dd045; }
    .bikes-btn-wrap .bikes-btn_third {
      background-color: #0296d0; }
    .bikes-btn-wrap .bikes-btn_forth {
      background-color: #dc2e87; }
    .bikes-btn-wrap .bikes-btn_fifth {
      background-color: #b202cd; }
    .bikes-btn-wrap .bikes-btn_sixth {
      background-color: #656565; }
    .bikes-btn-wrap .bikes-btn:hover {
      border: 1px solid #333333;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }

.bikes-description {
  width: 50%; }

.bikes-tabs__list {
  font-size: 0;
  text-align: left; }

.bikes-tabs__item {
  display: inline-block;
  margin-right: 10px;
  padding: 0 30px 30px 0;
  font-size: 24px;
  cursor: pointer; }
  .bikes-tabs__item_selected {
    color: #4263ee; }
    .bikes-tabs__item_selected:hover {
      color: #4263ee !important;
      cursor: default; }
  .bikes-tabs__item:hover {
    color: #ffd700;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.bikes-tabs__list li:last-child {
  margin-right: 0;
  padding-right: 0; }

.bikes-content {
  margin-bottom: 30px; }

.bikes-content__price {
  margin-bottom: 30px;
  color: #4263ee;
  font-weight: 600; }

.bikes-features__table {
  border-collapse: collapse;
  line-height: 52px; }

.bikes-features__data {
  position: relative;
  margin-left: 60px; }
  .bikes-features__data_frame::before, .bikes-features__data_fork::before, .bikes-features__data_front::before, .bikes-features__data_tires::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -60px;
    width: 30px;
    height: 30px;
    background: url(../img/icons/frame.svg) no-repeat; }
  .bikes-features__data_fork::before {
    background: url(../img/icons/fork.svg) no-repeat; }
  .bikes-features__data_front::before {
    background: url(../img/icons/front.svg) no-repeat; }
  .bikes-features__data_tires::before {
    background: url(../img/icons/tires.svg) no-repeat; }
  .bikes-features__data_bold {
    display: inline-block;
    margin-right: 15px;
    font-weight: 800; }

.bikes-table {
  border-collapse: collapse; }
  .bikes-table__row:nth-child(odd) {
    background-color: rgba(200, 200, 200, 0.5); }
  .bikes-table__row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.6); }
  .bikes-table__data {
    padding: 5px 10px;
    border: 2px solid #3b3b3b; }
    .bikes-table__data_bold {
      width: 125px;
      font-weight: 800; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  color: #3b3b3b;
  font-size: 14px;
  font-family: "Raleway", Arial, Helvetica, sans-serif; }

img {
  max-width: 100%; }

ul li {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

.hidden {
  display: none; }

button {
  display: block;
  border: 0;
  cursor: pointer; }

.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 10px; }

.header-section {
  position: relative;
  min-height: 1080px;
  padding: 50px 0 365px;
  color: #ededed;
  background: #000000 url(../img/header-bg.jpg) center bottom no-repeat; }
  .header-section::after {
    position: absolute;
    content: "";
    bottom: 80px;
    left: 50%;
    width: 45px;
    height: 67px;
    background: url(../img/icons/mouse.png) no-repeat;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header__logo, .sticky_menu__logo {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3.75px;
    text-transform: uppercase;
    cursor: default; }

@-webkit-keyframes moveMenu {
  0% {
    margin-right: 25px; }
  8%, 70% {
    margin-right: 150px; }
  100% {
    margin-right: 25px; } }

@keyframes moveMenu {
  0% {
    margin-right: 25px; }
  8%, 70% {
    margin-right: 150px; }
  100% {
    margin-right: 25px; } }

.animation-menu {
  -webkit-animation-name: moveMenu;
  animation-name: moveMenu;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

.nav-main {
  position: relative;
  width: 105px;
  margin-right: 25px;
  cursor: pointer; }
  .nav-main__name {
    color: #ededed;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.58px; }
    .nav-main__name::before {
      position: absolute;
      content: "";
      top: -12px;
      left: -60px;
      width: 60px;
      height: 48px;
      background: url(../img/icons/bike-burger.svg) no-repeat; }
    .nav-main__name:hover::before {
      background: url(../img/icons/bike-burger_hover.svg) no-repeat; }
    .nav-main__name:hover {
      color: #ffd700; }
    .nav-main__name:hover .nav-main__btn {
      border-top: 4px solid #ffd700;
      border-bottom: 4px solid #ffd700; }
      .nav-main__name:hover .nav-main__btn::before {
        background-color: #ffd700; }
  .nav-main__btn {
    position: absolute;
    top: 5px;
    right: -5px;
    width: 19px;
    height: 18px;
    border-top: 4px solid #ededed;
    border-bottom: 4px solid #ededed;
    border-radius: 1px;
    background-color: transparent; }
    .nav-main__btn:hover {
      border-top: 4px solid #ffd700;
      border-bottom: 4px solid #ffd700; }
      .nav-main__btn:hover::before {
        background-color: #ffd700; }
    .nav-main__btn::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #ededed;
      border-radius: 1px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.burger {
  position: absolute;
  top: 50px;
  right: -50px;
  text-transform: uppercase; }
  .burger__item {
    padding-bottom: 25px;
    font-size: 20px;
    text-align: left; }
    .burger__item:hover {
      color: #ffd700;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }

@-webkit-keyframes openBurger {
  0% {
    right: -50px;
    opacity: 0; }
  100% {
    right: -22px;
    opacity: 1; } }

@keyframes openBurger {
  0% {
    right: -50px;
    opacity: 0; }
  100% {
    right: -22px;
    opacity: 1; } }

.open-burger {
  display: block;
  -webkit-animation-name: "openBurger";
  animation-name: "openBurger";
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.banner {
  max-width: 630px;
  margin: 370px 0 0 auto; }
  .banner__title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: right; }
  .banner__text {
    max-width: 410px;
    margin: 20px 0 0 auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 3px;
    text-align: right; }
    .banner__text_italic {
      font-size: 18px;
      font-weight: 300;
      font-style: italic;
      letter-spacing: 2.25px; }

.sticky_menu-section {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 27px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 27px rgba(0, 0, 0, 0.16);
  z-index: 99; }

.sticky_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0; }
  .sticky_menu__logo {
    color: #1c1c1c; }
    .sticky_menu__logo:hover {
      color: #ffd700;
      cursor: pointer;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

.sticky-nav {
  margin-left: auto; }
  .sticky-nav__list {
    font-size: 0; }
  .sticky-nav__item {
    display: inline-block;
    margin-right: 90px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.25px; }
  .sticky-nav__link {
    padding: 10px 0; }
    .sticky-nav__link_selected {
      color: #ffd700 !important;
      cursor: default !important; }
      .sticky-nav__link_selected:hover {
        color: #3b3b3b !important; }
    .sticky-nav__link:hover {
      color: #ffd700;
      cursor: pointer;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
  .sticky-nav .sticky-nav__list .sticky-nav__item:last-child {
    margin-right: 0; }

.title, .article__title, .bikes-list__title, .article__inner-title, .about_us__title, .statisctics__title, .products__title, .team__title, .members__name, .blog__title, .contact__title, .modal-product__name {
  margin: 0 auto 15px;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3.75px;
  text-align: center;
  text-transform: uppercase; }

.subtitle, .bikes-tabs, .burger, .about_us__subtitle, .statisctics__subtitle, .products__subtitle, .team__subtitle, .members__position, .blog__subtitle, .contact-links__title, .contact-links__item, .contact-social__title {
  max-width: 860px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.25px;
  text-align: center; }

.about_us {
  padding: 40px 0 60px; }
  .about_us__subtitle {
    position: relative;
    margin-bottom: 70px; }
    .about_us__subtitle::after {
      position: absolute;
      content: "";
      top: 30px;
      left: 50%;
      width: 88px;
      height: 49px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background: url(../img/icons/bike.png) no-repeat; }
  .about_us__text {
    max-width: 1340px;
    margin: 0 auto;
    line-height: 24px;
    letter-spacing: 1.75px; }

.statisctics-section {
  min-height: 450px;
  background: url(../img/statistics-bg.jpg) center top no-repeat; }

.statisctics {
  padding: 85px 0 100px;
  color: #ededed; }
  .statisctics__title {
    margin: 0 auto 15px; }
  .statisctics__subtitle {
    max-width: 870px;
    margin-bottom: 75px; }

.numbers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.numbers {
  width: 235px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase; }
  .numbers__value {
    display: block;
    margin-bottom: 15px;
    font-size: 72px;
    letter-spacing: 9px; }
  .numbers__item {
    font-size: 24px; }

.products {
  padding: 42px 0 45px; }
  .products__subtitle {
    margin-bottom: 35px; }

.bikes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1350px;
  margin: 0 auto;
  text-align: center; }

.bikes {
  margin-bottom: 25px;
  font-weight: 600; }
  .bikes:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .bikes__img {
    margin: 5px auto;
    cursor: pointer; }
  .bikes__price, .bikes__img {
    display: block;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .bikes__link {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    text-decoration: underline;
    letter-spacing: 2.25px; }
    .bikes__link:hover {
      color: #ffd700;
      cursor: pointer;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

.team-section {
  background-color: #ededed; }

.team {
  padding: 45px 0;
  text-align: center; }
  .team__subtitle {
    margin-bottom: 50px; }

.members-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1190px;
  margin: 0 auto; }

.members {
  margin-bottom: 10px; }
  .members__name {
    display: block;
    margin: 25px auto 15px; }
  .members__position {
    display: block; }

.blog {
  padding: 55px 0 50px; }
  .blog__subtitle {
    margin-bottom: 50px; }
  .blog__text {
    margin: 45px auto 0;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase; }
    .blog__text_link {
      text-decoration: underline; }
      .blog__text_link:hover {
        color: #ffd700;
        cursor: pointer;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }

.blog_article-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.blog-article {
  width: 25%;
  margin-bottom: 10px; }
  .blog-article__img {
    position: relative; }
    .blog-article__img:hover::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1; }
    .blog-article__img:hover .blog-article__img_name {
      opacity: 1;
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      transition: 0.8s; }
    .blog-article__img_name {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin: 0 auto;
      color: #fff;
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      opacity: 0;
      text-transform: uppercase;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .blog-article__img_name:hover {
        opacity: 1;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }

.contact-section {
  color: #ededed;
  background-color: #1e1e1e; }

.contact {
  padding: 50px 0 90px; }

.contact-inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 135px; }

.contact-links {
  text-transform: uppercase; }
  .contact-links__title {
    font-weight: 900;
    margin-bottom: 22px;
    text-align: left; }
  .contact-links__item {
    margin-bottom: 12px;
    text-align: left; }
    .contact-links__item:hover {
      color: #ffd700;
      cursor: pointer;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

.contact-social__title {
  margin-bottom: 22px;
  font-weight: 900;
  text-transform: uppercase; }

.social:last-child {
  margin-right: 0; }

.social__link {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  padding: 5px; }
  .social__link::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px; }

.social .social__link_fb::after {
  background: url(../img/icons/fb.svg); }

.social .social__link_linkedin::after {
  background: url(../img/icons/linkedin.svg); }

.social .social__link_inst::after {
  background: url(../img/icons/inst.svg); }

.social .social__link_twit::after {
  background: url(../img/icons/twit.svg); }

.social .social__link_fb:hover::after {
  background: url(../img/icons/fb_hover.svg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.social .social__link_linkedin:hover::after {
  background: url(../img/icons/linkedin_hover.svg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.social .social__link_inst:hover::after {
  background: url(../img/icons/inst_hover.svg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.social .social__link_twit:hover::after {
  background: url(../img/icons/twit_hover.svg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.contact-map {
  cursor: pointer; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  -webkit-animation-name: fadeInOverlay;
  animation-name: fadeInOverlay;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes fadeInOverlay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInOverlay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  padding: 50px 70px;
  color: #ededed;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  background-color: #424242;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  z-index: 110; }
  .modal__text {
    margin-bottom: 15px; }
  .modal__btn, .modal-map__btn {
    display: block;
    margin: 10px auto 0;
    padding: 10px 60px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ededed;
    border: none;
    border-radius: 10px; }
    .modal__btn:hover, .modal-map__btn:hover {
      color: #ffd700;
      cursor: pointer;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      -webkit-box-shadow: 0 0 5px #ededed;
      box-shadow: 0 0 5px #ededed; }

.modal-map {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 110;
  width: 60%;
  height: 70%;
  margin: 50px auto 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .modal-map__iframe {
    display: block;
    width: 100%;
    height: 100%; }
  .modal-map__btn {
    margin-top: 10px; }

.modal-product {
  position: fixed;
  z-index: 120;
  top: 50%;
  left: 50%;
  margin: 20px auto 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .modal-product__img {
    display: block;
    position: relative;
    text-align: center; }
  .modal-product__name_gold {
    color: #c98e02; }
  .modal-product__name_green {
    color: #5dd045; }
  .modal-product__name_blue {
    color: #0296d0; }
  .modal-product__name_pink {
    color: #dc2e87; }
  .modal-product__name_purple {
    color: #b202cd; }
  .modal-product__name_grey {
    color: #656565; }

@media (max-width: 1300px) {
  .container {
    padding: 0 30px 0; }
  .title, .article__title, .bikes-list__title, .article__inner-title, .about_us__title, .statisctics__title, .products__title, .team__title, .members__name, .blog__title, .contact__title, .modal-product__name {
    font-size: 26px; }
  .subtitle, .bikes-tabs, .burger, .about_us__subtitle, .statisctics__subtitle, .products__subtitle, .team__subtitle, .members__position, .blog__subtitle, .contact-links__title, .contact-links__item, .contact-social__title {
    font-size: 16px; }
  .section, .about_us, .statisctics-section, .products, .team, .blog, .contact {
    padding: 60px 0; }
  .header-section {
    min-height: 450px;
    padding: 25px 0 100px;
    background-size: 100% 100%; }
  .nav-main__name {
    font-size: 20px; }
  .burger {
    top: 40px; }
    .burger__item {
      padding-bottom: 10px;
      font-size: 16px; }
  .banner {
    margin: 200px 0 0 auto; }
    .banner__title {
      font-size: 40px; }
    .banner__text {
      font-size: 20px; }
  .sticky_menu {
    padding: 15px 0; }
    .sticky_menu__logo {
      font-size: 26px; }
  .sticky-nav__item {
    font-size: 16px;
    margin-right: 50px; }
  .about_us__text {
    max-width: 840px;
    line-height: 24px; }
  .statisctics {
    padding: 0; }
  .numbers__value {
    font-size: 50px; }
  .numbers__item {
    font-size: 20px; }
  .bikes {
    max-width: 305px; }
    .bikes__img {
      font-size: 16px; }
    .bikes__price, .bikes__img {
      font-size: 16px; }
    .bikes__link {
      font-size: 14px; }
  .members__name {
    font-size: 18px; }
  .members__position {
    font-size: 16px; }
  .blog__text {
    font-size: 18px; }
  .contact-inner-wrap {
    margin: 60px 0 0 0; }
  .contact-links__item {
    font-size: 14px; }
  .article, .bikes-list {
    margin: 0 120px; }
    .article__title, .bikes-list__title {
      padding: 20px 0; }
    .article__inner-title {
      font-size: 22px; }
    .article__subtitle {
      max-width: 500px;
      margin-left: 0;
      padding-left: 40px;
      font-size: 18px; }
    .article__date {
      margin-right: 0;
      padding-right: 40px; }
    .article__text, .bikes-content {
      font-size: 16px; }
  .article-fashion_img,
  .article-fashion_img,
  .article-fashion_img {
    max-width: 300px; }
  .bikes-list {
    margin: 0 25px; }
  .bikes-list-content,
  .content-wrap {
    padding: 20px 40px; }
  .bikes-description {
    width: 60%; }
  .bikes-list__img {
    max-width: 300px;
    margin-right: 15px; }
  .bikes__price.bikes-content__price, .bikes-content__price.bikes__img {
    font-size: 20px; }
  .bikes-tabs__item {
    padding-right: 10px;
    font-size: 18px; }
  .bikes-content__text {
    font-size: 16px; }
  .bikes-table {
    font-size: 16px; }
  .contact .contact-inner-wrap {
    margin-top: 60px; } }

@media (max-width: 997px) {
  .title, .article__title, .bikes-list__title, .article__inner-title, .about_us__title, .statisctics__title, .products__title, .team__title, .members__name, .blog__title, .contact__title, .modal-product__name {
    font-size: 22px; }
  .header-section {
    min-height: 400px;
    padding: 25px 0 60px;
    background-size: 100% 100%; }
    .header-section::after {
      display: none; }
  .nav-main__name {
    font-size: 20px; }
  .burger__item {
    font-size: 14px; }
  @-webkit-keyframes moveMenu {
    0% {
      margin-right: 25px; }
    8%, 70% {
      margin-right: 60px; }
    100% {
      margin-right: 25px; } }
  @keyframes moveMenu {
    0% {
      margin-right: 25px; }
    8%, 70% {
      margin-right: 60px; }
    100% {
      margin-right: 25px; } }
  .banner__title {
    font-size: 22px; }
  .banner__text {
    font-size: 16px; }
  .sticky_menu {
    padding: 10px 0; }
    .sticky_menu__logo {
      font-size: 22px; }
  .sticky-nav__item {
    font-size: 14px;
    margin-right: 20px; }
  .about_us {
    padding: 40px 0; }
    .about_us__text {
      max-width: 840px;
      line-height: 24px; }
  .statisctics-section {
    padding: 40px 0; }
  .numbers {
    width: 200px; }
    .numbers__value {
      font-size: 35px; }
    .numbers__item {
      font-size: 16px; }
  .products {
    padding: 40px 0 20px; }
    .products__subtitle {
      margin-bottom: 20px; }
  .bikes {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto; }
    .bikes__img {
      font-size: 16px; }
    .bikes__price, .bikes__img {
      font-size: 16px; }
    .bikes__link {
      font-size: 14px; }
  .team {
    padding: 40px 0; }
    .team__subtitle {
      margin-bottom: 20px; }
  .members {
    max-width: 170px; }
    .members__name {
      font-size: 16px; }
    .members__position {
      font-size: 14px; }
  .blog {
    padding: 40px 0; }
    .blog__subtitle {
      margin-bottom: 20px; }
    .blog__text {
      margin-top: 20px;
      font-size: 14px; }
  .blog-article__img_name {
    font-size: 18px; }
  .contact {
    padding: 40px 0 20px; }
  .contact-inner-wrap {
    margin: 40px 0 0 0; }
  .contact-links {
    width: 25%; }
    .contact-links__title {
      font-size: 14px; }
    .contact-links__item {
      font-size: 12px; }
  .contact-social {
    width: 25%; }
    .contact-social__title {
      font-size: 14px; }
  .social {
    text-align: center; }
    .social__link::after {
      width: 20px;
      height: 20px;
      margin: 0 auto; }
  .contact-map {
    width: 20%; }
  .content-wrap {
    padding: 10px 40px 20px; }
  .article, .bikes-list {
    margin: 0 20px; }
    .article__inner-title {
      font-size: 20px; }
    .article__subtitle {
      max-width: 400px;
      font-size: 16px; }
    .article__text, .bikes-content {
      line-height: 34px; }
  .article-manchester_first, .article-trip_first, .article-fasion_first, .article-autumn_first,
  .article-autumn_first,
  .article-trip_first,
  .article-fasion_first {
    max-width: 220px; }
  .article-manchester_second,
  .article-autumn_second,
  .article-autumn_third,
  .article-trip_second {
    max-width: 380px; }
  .article-fashion_img,
  .article-fashion_img,
  .article-fashion_img {
    max-width: 280px; }
  .blog-article {
    width: 32%; }
  .bikes-list-content {
    margin: 0 20px;
    padding: 20px 20px; }
  .bikes-list__title, .article__title, .bikes-list__title {
    padding: 30px 0 10px; }
  .bikes-img-wrap {
    width: 100%; }
  .bikes-description {
    width: 100%; }
  .bikes-list__img {
    margin: 0 auto; }
  .bikes-tabs__item {
    padding-bottom: 15px; }
  .bikes-content {
    margin-bottom: 10px; } }

@media (max-width: 767px) {
  *:focus,
  *:active {
    outline: none; }
  .container {
    padding: 0 5px 0; }
  .title, .article__title, .bikes-list__title, .article__inner-title, .about_us__title, .statisctics__title, .products__title, .team__title, .members__name, .blog__title, .contact__title, .modal-product__name {
    font-size: 20px; }
  .header-section {
    height: 100vh;
    background-position: -75px 125px;
    background-size: 180% 80%; }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -5px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 90; }
    .header__logo, .sticky_menu__logo {
      font-size: 22px; }
  .nav-main {
    width: 40px;
    margin-right: 10px; }
    .nav-main__name {
      font-size: 0; }
      .nav-main__name::before {
        left: -32px; }
      .nav-main__name:hover::before {
        background-image: url(../img/icons/bike-burger.svg); }
      .nav-main__name:hover .nav-main__btn {
        border-top-color: #ededed;
        border-bottom-color: #ededed; }
        .nav-main__name:hover .nav-main__btn::before {
          background-color: #ededed !important; }
    .nav-main__btn:hover::before {
      background-color: #ededed !important; }
  .burger {
    position: fixed;
    top: 50px;
    width: 112vw;
    height: 100vh;
    margin-top: -4px;
    background-color: rgba(0, 0, 0, 0.7); }
    .burger__list {
      position: absolute;
      top: 0;
      right: 7%;
      margin-top: 5px; }
    .burger__item {
      margin-bottom: 15px; }
  .open-burger {
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  @-webkit-keyframes openBurger {
    0% {
      margin-right: 10px; }
    8%, 70% {
      margin-right: 40px; }
    100% {
      margin-right: 30px; } }
  @keyframes openBurger {
    0% {
      margin-right: 10px; }
    8%, 70% {
      margin-right: 40px; }
    100% {
      margin-right: 30px; } }
  @-webkit-keyframes moveMenu {
    0% {
      margin-right: 10px; }
    8%, 70% {
      margin-right: 40px; }
    100% {
      margin-right: 10px; } }
  @keyframes moveMenu {
    0% {
      margin-right: 10px; }
    8%, 70% {
      margin-right: 40px; }
    100% {
      margin-right: 10px; } }
  .banner {
    margin: 100px auto 0 auto; }
    .banner__title {
      font-size: 20px;
      text-align: center; }
    .banner__text {
      margin: 20px auto 0;
      font-size: 14px;
      text-align: center; }
  .sticky_menu {
    display: none; }
  .about_us {
    padding: 20px 0; }
    .about_us__title {
      margin-bottom: 10px;
      font-size: 20px; }
    .about_us__subtitle {
      margin-bottom: 10px; }
      .about_us__subtitle::after {
        display: none; }
    .about_us__text {
      text-align: justify; }
  .statisctics-section {
    min-height: 400px;
    padding: 30px 0 20px; }
  .statisctics__subtitle {
    margin-bottom: 40px; }
  .numbers {
    width: 100%;
    margin-bottom: 20px; }
    .numbers__value {
      font-size: 24px;
      margin-bottom: 10px; }
    .numbers__item {
      font-size: 16px; }
  .products {
    padding: 20px 0; }
    .products__subtitle {
      margin-bottom: 10px; }
  .bikes {
    max-width: 250px;
    margin: 0 auto; }
    .bikes:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .bikes__subtitle {
      margin-bottom: 10px; }
    .bikes__link {
      margin-top: 5px; }
  .bikes-second {
    display: none; }
  .bikes-third {
    display: none; }
  .bikes-forth {
    display: none; }
  .bikes-fifth {
    display: none; }
  .bikes-sixth {
    display: none; }
  .team {
    padding: 20px 0 0; }
    .team__subtitle {
      margin-bottom: 20px; }
  .members {
    max-width: 170px;
    margin: 0 auto 20px; }
    .members__img {
      margin-right: 5px; }
    .members__name {
      margin: 5px auto 0; }
  .blog {
    padding: 20px 0; }
    .blog__subtitle {
      font-size: 16px;
      margin-bottom: 20px; }
    .blog__text {
      margin-top: 10px; }
  .blog-article {
    width: 49%;
    margin-bottom: 3px; }
    .blog-article__img::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1; }
    .blog-article__img:hover::after {
      height: 98%; }
    .blog-article__img_name {
      opacity: 1;
      font-size: 16px; }
  .contact {
    padding: 20px 0 0; }
  .contact-inner-wrap {
    max-width: 85%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
    padding-left: 10px; }
  .contact-links {
    width: 45%;
    margin-bottom: 10px; }
    .contact-links__title {
      margin-bottom: 10px;
      font-size: 10px; }
    .contact-links__item {
      margin-bottom: 10px;
      font-size: 8px; }
    .contact-links:nth-child(2) {
      width: 50%; }
  .contact-social {
    -webkit-box-ordinal-group: -2;
    -ms-flex-order: -3;
    order: -3;
    width: 45%;
    margin-bottom: 10px; }
    .contact-social__title {
      margin-bottom: 15px;
      font-size: 10px;
      text-align: left; }
  .social {
    text-align: left; }
    .social__link {
      margin-right: 15px;
      padding-left: 0; }
      .social__link::after {
        width: 15px;
        height: 15px;
        left: 0;
        margin: 0 auto; }
  .contact-map {
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
    width: 50%;
    margin-bottom: 10px; }
  .modal {
    width: 90%;
    padding: 40px 20px; }
    .modal__text {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 30px; }
    .modal__btn, .modal-map__btn {
      padding: 10px 40px;
      font-size: 16px; }
  .modal-product {
    width: 90%; }
  .modal-map {
    width: 90%; }
  .article, .bikes-list {
    margin: 0 -5px; }
    .article__title, .bikes-list__title {
      font-size: 20px; }
    .article__inner-title {
      font-size: 18px; }
    .article__subtitle {
      max-width: 400px;
      font-size: 18px; }
    .article__date {
      font-size: 12px; }
    .article__text, .bikes-content {
      font-size: 16px; }
  .article-manchester_first, .article-trip_first, .article-fasion_first, .article-autumn_first,
  .article-autumn_first,
  .article-trip_first,
  .article-fasion_first {
    float: left;
    max-width: 160px;
    margin: 0 15px 0 0; }
  .article-manchester_second,
  .article-autumn_second,
  .article-autumn_third,
  .article-trip_second {
    display: block;
    float: none;
    max-width: 100%;
    margin: 5px auto; }
  .article-fashion_img,
  .article-fashion_img,
  .article-fashion_img {
    max-width: 220px; }
  .article-list-box {
    margin: 10px 0 0; }
  .blog-article {
    width: 31%; }
  .bikes-list {
    margin: 0 -5px 0; }
    .bikes-list__title {
      font-size: 20px;
      padding: 20px 0; }
  .bikes-list-content {
    margin: 0;
    padding: 0 5px; }
  .bikes-tabs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0; }
  .bikes-tabs__item {
    padding: 0 0 10px;
    font-size: 13px; }
  .bikes-content {
    margin-bottom: 0;
    padding-bottom: 0; }
    .bikes-content__text {
      text-align: justify;
      font-size: 14px;
      line-height: 30px; }
  .bikes-description .bikes__price, .bikes-description .bikes__img {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center; }
  .bikes-features__table {
    font-size: 14px; }
  .bikes-table {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 30px; }
  .contact .contact-inner-wrap {
    margin-top: 20px; }
  .blog-wrap {
    background-position: 75% 65%; }
  .content-wrap {
    margin: 25px 0 0;
    padding: 10px 5px; } }
