@import "_variables";
@import "_mixins";


@media (max-width: 1100px) {
	.header-bg,
	.unique-design-bg,
	.sewing-bg,
	.contacts-bg {
		background-position: 60% 100%;
	}
}
		
@media (max-width: 997px) {
	.header-bg,
	.unique-design-bg,
	.sewing-bg,
	.contacts-bg {
		min-height: 700px;
		background-position: 50% 0%;
		background-size: 120% 75%;
	}
	.header-section,
	.unique-design-section,
	.sewing-section,
	.contacts-section {
		min-height: 525px;
	}
	.main-nav__item {
		margin-right: 50px;
	}
	.main-nav__list .main-nav__item:last-child {
    	margin-right: 25px;
    }
    .banner {
    	max-width: 340px;
    	margin: 75px 0 0 10px;
    	padding: 0;
    	&__title {
    		font-size: 36px;
    	}
    	&__features {
    		.decor-font-mid-dev;
			margin: 30px 0 20px;
    	}
    	&__text {
    		margin-bottom: 30px;
    	}
    	&__btn {
    		.button-mid-dev;
    	}
    }
    .sticky-menu .main-nav__item:last-child {
    	margin-right: 65px;
	}
	.unique-design {
		max-width: 350px;
    	padding: 75px 0 0 10px;
    	&__title {
    		.title-mid-dev;
    	}
    	&__btn {
    		.button-mid-dev;
    	}
    	
	}
	.sewing {
		max-width: 350px;
    	padding: 75px 10px 0 0;
    	&__title {
    		.title-mid-dev;
    	}
    	&__btn {
    		.button-mid-dev;
    	}
	}
	.work-process-section {
		padding: 50px 0;
	}
	.work-process__main-title {
		.title-mid-dev;
	}
	.work-process-row2 .work-process:nth-child(1n) {
		margin-bottom: 20px;
	}
	.box-section {
		padding: 0 0 60px;
	}
	.box {
		&__title {
			.title-mid-dev;
			margin-bottom: 20px;
		}
		&__text {
			margin-bottom: 20px;
		}
	}
	.box-item {
		&_first {
			padding-left: 0;
		}
	}
	.delivery {
		padding: 0 0 60px 0;
		&__title {
			.title-mid-dev;
		}
	}
	.feedback-section {
		padding: 0 0 40px 0;
	}
	.feedback__title {
		.title-mid-dev;
	}
	.contacts {
		max-width: 350px;
    	padding: 75px 0 0 10px;
    	&__title {
    		font-size: 25px;
    	}
    	&__text {
    		margin-bottom: 20px;
    	}
    	
	}
	.contacts-form {
		&__btn {
    		.button-mid-dev;
    	}
	}
	.contacts-bg {
		min-height: 500px;
		background-position: 50% 70%;
	}
}	

@media (max-width: 767px) {
	*:focus,
	*:active {
		outline: none;
	}

}
