.decor-font() {
		display: inline-block;
		color: #ff5b97;
		font-family: @decor-font;
		font-size: 36px;
	}
.decor-font-mid-dev() {
		font-size: 35px;
	}
.decor-font-sm-dev() {
		font-size: 32px;
	}	
.title() {
		font-family: @bold-font;
		font-size: 30px;
		line-height: 36px;
	}
.title-mid-dev() {
		margin-bottom: 40px;
		font-size: 26px;
	}
.title-sm-dev() {
		margin-bottom: 20px;
		font-size: 22px;
	}		
.button() {
		display: block;
		width: 200px;
		padding: 20px 32px;
		border: 1px solid #000000;
		font-family: @bold-font;
		font-size: @f-size-small;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.12px;
		backfround: transparent;
		cursor: pointer;
	}

.button-hover() {
	border: 1px solid transparent;
	color: #ffffff;
	background: @color-hover;
	background-image: linear-gradient(25deg, #e12462 0%, #ff4d87 100%);
	box-shadow: 0 0 2px @color-hover;
	transition: @transition-hover;
}

.button-mid-dev() {
	width: 150px;
	padding: 20px;
	border: 1px solid transparent;
	color: #ffffff;
	background-image: linear-gradient(25deg, #e12462 0%, #ff4d87 100%);
}

.button-sm-dev() {
	width: 135px;
    padding: 12px;
    border: 1px solid transparent;
    color: #ffffff;
    background-image: linear-gradient(25deg, #e12462 0%, #ff4d87 100%);
}

.flexsb() {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form-comment() {
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #e50938;
	border-radius: 5px;
	color: #333333;
	font-family: @bold-font;
	font-weight: 600;
	background-color: #fdf5f5;
}

.form-comment-placeholder() {
	font-size: 14px;
	font-weight: 400;
}

.contacts-form() {
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid #dddddd;
	color: #333333;
}

.form-help() {
	color: #f14d70;
	font-size: 10px;
	font-weight: 300;
}

.overlay {
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 6, 51, 0.4);
	animation-name: fadeInOverlay;
	animation-duration: 1s;
}

@keyframes fadeInOverlay {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: rgba(50, 6, 51, 0.4);
	}
}

.modal() {
	position: absolute;
	top: 25%;
	left: 50%;
	padding: 40px 40px;
	text-align: center;
	background-color: #ffffff;
	transform: translateX(-50%);
}

.modal-sm-dev() {
	width: 95%;
	top: 15%;
	padding: 40px 25px;
}

.modal-button {
	display: block;
	margin: 0 auto;
	.button;
	.button-hover;
	width: 120px;
	padding: 10px 20px;
	font-weight: 600;
	box-shadow: none;
} 

