@import "_variables";
@import "_mixins";


@font-face {
	font-family: "Proxima Nova Light";
	src: url("../fonts/proxima_nova_light.woff2") format("woff2");
	font-weight: 300;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proxima_nova_regular.woff2") format("woff2");
	font-weight: 300;
}
@font-face {
	font-family: "Proxima Nova Semibold";
	src: url("../fonts/proxima_nova_semibold.woff2") format("woff2");
	font-weight: 400;
}
@font-face {
	font-family: "Corinthia";
	src: url("../fonts/corinthia1.woff2") format("woff2");
	font-weight: 400;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	color: #333333;
	font: 400 @f-size-text @regular-font;
}
img {
	max-width: 100%
}
ul li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
.hidden {
	display: none;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
.flexsb() {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header-section {
	position: relative;
	min-height: 900px;
}
.header-bg {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	background: url(../img/banner.jpg) no-repeat;
}
.header-wrap {
	.flexsb;
	padding-top: 40px;
}
.logo {
	margin-right: 10px;
	&__img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 18px;
	}
	&__title {
		font-family: @bold-font;
		font-size: 24px;
		font-weight: 400;
		&_pink {
			color: #ff4d87;
		}
	}
}
.main-nav {
	position: relative;
	&__list {
		font-size: 0;
	}
	&__item {
		display: inline-block;
		margin-right: 105px; 
		padding: 10px 5px 7px;
		font-size: @f-size-small;
		font-family: @bold-font;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			color: #ff0a6a;
			transition: @transition-hover;
		}
		&_selected {
			color: #ff0a6a;
			transition: @transition-hover;
		}
	}
	&__list &__item:last-child {
		margin-right: 120px; 
	}
	&__btn {
		position: absolute;
		top: 12px;
		right: 10px;
		width: 15px;
		height: 13px;
		border: 0;
		border-top: 2px solid #000000;
		border-bottom: 2px solid #000000;
		background-color: transparent;
		cursor: pointer;
		&:hover {
			border-top: 2px solid #ff0a6a;
			border-bottom: 2px solid #ff0a6a;
			transition: @transition-hover;
		}
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			right: 0;
			width: 15px;
			height: 2px;
			background-color: #000000;
			transform: translateY(-50%);
		}
		&:hover::before {
			background-color: #ff0a6a;
			transition: @transition-hover;
		}
	}
}
.banner {
	max-width: 435px;
	padding: 150px 0 0;
	&__title {
		font-family: @bold-font;
		font-size: 45px;
		line-height: 40px;
	}
	&__features {
		.decor-font;
		font-size: 44px;
		margin: 50px 0 40px;
	}
	&__text {
		max-width: 320px;
		margin-bottom: 55px;
	}
	&__btn {
		.button();
		margin-right: auto;
		&:hover {
			.button-hover();
		}
	}
}
.main {
	position: relative;
}
.sticky-nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 99;
	&__list {
		text-align: right;
	}
}
.sticky-menu {
	position: absolute;
	top: 0;
	right: 0;
	margin-left: auto;
}
.open-menu {
	display: block;
}
.unique-design-section {
	position: relative;
	min-height: 900px;
}
.unique-design-bg{
	position: absolute;
	top: 0;
	right: 50%;
	width: 50%;
	height: 100%;
	background: url(../img/unique-design.jpg) no-repeat;
}
.unique-design {
	max-width: 405px;
	margin-left: auto;
	padding: 235px 0 5px;
	text-align: right;
	&__features {
		.decor-font();
		margin-bottom: 22px;
	}
	&__title {
		.title();
		margin-bottom: 92px;
	}
	&__text {
		display: inline-block;
		max-width: 347px;
		margin-bottom: 25px;
	}
	&__btn {
		.button();
		margin-left: auto;
		&:hover {
		.button-hover();
		}
	}
}
.sewing-section {
	position: relative;
	min-height: 900px;
}
.sewing-bg {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	background: url(../img/sewing.jpg) no-repeat;
}
.sewing {
	max-width: 430px;
	margin-right: auto;
	padding: 235px 0 5px;
	&__features {
		.decor-font();
		margin-bottom: 22px;
	}
	&__title {
		.title();
		margin-bottom: 92px;
	}
	&__text {
		display: inline-block;
		max-width: 375px;
		margin-bottom: 25px;
	}
	&__btn {
		.button();
		margin-right: auto;
		&:hover {
			.button-hover();
		}
	}
}
.work-process-section {
	padding: 180px 0 55px;
	text-align: center;
}
.work-process-row1 {
	.flexsb();
	max-width: 965px;
	margin: 170px auto 0;
}
.work-process-row2 {
	.flexsb();
	max-width: 965px;
	margin: 0 auto;
}
.work-process {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 165px;
	margin: 0 0 165px 0;
	&::before {
		position: absolute;
		content: "";
		top: -80px;
		left: 50%;
		width: 58px;
		height: 53px;
		transform: translateX(-50%);
	}
	&_first::before {
		background: url(../img/icons/notepad.png) no-repeat;
	}
	&_second::before {
		background: url(../img/icons/weight-loss.png) no-repeat;
	}
	&_third::before {
		background: url(../img/icons/waist.png) no-repeat;
	}
	&_forth::before {
		background: url(../img/icons/towel.png) no-repeat;
	}
	&_fifth::before {
		background: url(../img/icons/dress.png) no-repeat;
	}
	&_sixth::before {
		background: url(../img/icons/giftbox.png) no-repeat;
	}
	&__main-title {
		.title();
		margin-bottom: 87px;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 15px;
		font-family: @bold-font;
	}
	&__text {
		font-size: 15px;
	}
}
.box-section {
	padding: 0 0 100px;
}
.box {
	text-align: center;
	&__title {
		.title();
		margin-bottom: 20px;
	}
	&__text {
		display: inline-block;
		max-width: 182px;
		margin-bottom: 50px;
		font-size: 14px;
		font-style: italic;
	}
}
.box-item-wrap {
	.flexsb();
}
.box-item {
	position:relative;
	padding: 90px 0 24px 28px; 
	&-left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: right;
		width: 32%;
	}
	&-right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: left;
		width: 32%;
	}
	&__img {
		align-self: center;
		width: 32%;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 15px;
		font-family: @bold-font;
	}
	&__text {
		font-size: 15px;
		&_bold {
			font-family: @bold-font;
			font-weight: 600;
		}
	}
	&::before {
		position: absolute;
		content: "";
		top: 30px;
		width: 40px;
		height: 41px;
	}
	&_first::before {
		right: 0;
		background: url(../img/icons/hanger.png) no-repeat;
	}
	&_second::before {
		right: 0;
		background: url(../img/icons/file.png) no-repeat;
	}
	&_third::before {
		left: 28px;
		background: url(../img/icons/sweater.png) no-repeat;
	}
	&_forth {
		border: 2px solid #e72867;
		&::before {
			left: 28px;
			background: url(../img/icons/gift.png) no-repeat;
		}
	}
}
.delivery {
	padding: 0 0 100px;
	text-align: center;
	&__title {
		.title();
		margin-bottom: 70px;
	}
}
.feedback-section {
	padding: 0 0 100px;
}	
.feedback {
	max-width: 90%;
	margin: 0 auto 50px;
	&__title {
		.title();
		margin-bottom: 50px;
		text-align: center;
	}
	&__name {
		position: relative;
		display: inline-block;
		margin: 0 20px 20px 55px;
		font-family: @bold-font;
		font-size: 18px;
		font-weight: 600;
		&::before {
			position: absolute;
			content: "";
			top: -4px;
			left: -50px;
			width: 30px;
			height: 30px;
			background: url(../img/icons/user.svg) no-repeat;
		}
	}
}
.feedback-box {
	margin-bottom: 10px;
	padding: 25px 20px;
	border: 1px solid grey;
	border-radius: 5px;
	&:nth-child(odd)  {
		background-color: #f9d2d8;
	}
	&:nth-child(even)  {
		background-color: #fdf5f5;
	}
}
.ranking {
	display: inline-block;
	padding: 0 0 20px;
	&__star {
		position: relative;
		display: inline-block;
		height: 15px;
		margin-right: 10px;
		vertical-align:bottom;
		&::after {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			width: 10px;
			height: 15px;
			background: url(../img/icons/star.svg) no-repeat;
			transform: translateY(-50%);
		}
	}
}
.feedback-form {
	position: relative;
	max-width: 750px;
	margin-left: 60px;
	&__name {
		.form-comment;
		width: 200px;
		font-size: 18px;
		text-transform: capitalize;
		&::placeholder,
		&::-webkit-input-placeholder,
		&:-moz-placeholder,
		&::-moz-placeholder {
 			color: #333333;
 			.form-comment-placeholder();
		}
		&:-ms-input-placeholder,
		&::-ms-input-placeholder {
 			color: #333333;
 			.form-comment-placeholder();
		}
	}
	&__comment {
		.form-comment;
		width: 600px;
		min-height: 140px;
		font-size: @f-size-text;
		font-weight: 400;
		resize: none;
		&::placeholder,
		&::-webkit-input-placeholder,
		&:-moz-placeholder,
		&::-moz-placeholder {
 			color: #333333;
 			.form-comment-placeholder();
		}
		&:-ms-input-placeholder,
		&::-ms-input-placeholder {
 			color: #333333;
 			.form-comment-placeholder();
		}
	}
	&__btn {
		.button;
		width: 120px;
		padding: 10px 30px;
		border: 1px solid #e50938;
		border-radius: 5px;
		background-color: #f9d2d8;
		&:hover {
			.button-hover();
		}
	}
}
.help-feedback-name {
	position: absolute;
	top: 12px;
	left: 210px;
	.form-help();
	
}
.help-feedback-comment {
	position: absolute;
	top: 55px;
	left: 610px;
	.form-help();
}
.contacts-section {
	position: relative;
	min-height: 900px;
}
.contacts-bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: url(../img/contacts.jpg) no-repeat;
}
.contacts {
	max-width: 460px;
	margin-right: auto;
	padding: 235px 0 5px;
	&__title {
		.title();
		margin-bottom: 50px;
	}
	&__text {
		max-width: 442px;
		margin-bottom: 60px;
		font-size: 18px;

	}
}
.contacts-form {
	width: 200px;
	&__name {
		.contacts-form;
		text-transform: capitalize;
		&::placeholder,
		&::-webkit-input-placeholder,
		&:-moz-placeholder,
		&::-moz-placeholder {
 			color: #333333;
 			.form-comment-placeholder();
 			text-transform: none;
		}
		&:-ms-input-placeholder,
		&::-ms-input-placeholder {
 			color: #333333;
 			.form-comment-placeholder();
 			text-transform: none;
		}
	}
	&__tel {
		.contacts-form;
		&::placeholder,
		&::-webkit-input-placeholder,
		&:-moz-placeholder,
		&::-moz-placeholder {
 			color: #333333;
 			.form-comment-placeholder();
		}
		&:-ms-input-placeholder,
		&::-ms-input-placeholder {
 			color: #333333;
 			.form-comment-placeholder();
		}
	}
	&__file {
		visibility: hidden;
	}
	&__text {
		position: absolute;
		top: 10px;
		left: 40px;
		width: 120px;
		font-size: 12px;
		letter-spacing: 0.12px;
		cursor: pointer;
		&:hover {
			color: @color-hover;
			transition: @transition-hover;
		}
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: -35px;
			width: 17px;
			height: 15px;
			background: url(../img/icons/download.png) no-repeat;
			transform: translateY(-50%);
		}
	}
	&__btn {
		.button;
		.button-hover;
		box-shadow: none;
		&:hover {
			box-shadow: 0 0 2px @color-hover;
		}
	}
}
.contacts-file-wrap {
	position: relative;
	display: block;
	margin: 10px 0 30px;
}
.modal-feedback-overlay {
	.overlay;
}
.modal-feedback {
	.modal;
	&__text {
		margin-bottom: 30px;
		line-height: 24px;
	}
	&__btn {
		.modal-button;
		&:hover {
			box-shadow: 0 0 2px @color-hover;
		}
	}
}
.modal-tel-overlay {
	.overlay;
}
.modal-tel {
	.modal;
	&__text {
	width: 250px;
	}
	&__btn {
	.modal-button;
	display: inline-block;
	width: 100px;
	margin: 30px 20px 0 0;
	&:last-child {
		margin-right: 0;
	}
	}
}
.help-name,
.help-tel,
.help-social,
.help-btn {
	.form-help;
	display: block;
	padding-left: 5px;
	text-align: left;
}
.help-btn {
	margin-top: 10px;
}
.contacts-form__modal_send {
	width: 400px;
}

@import "_media";



