@import "_variables";
@import "_mixins";
@import "_media";

@font-face {
	font-family: "Proxima Nova Light";
	src: url("../fonts/proxima_nova_light.woff2") format("woff2");
	font-weight: 300;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proxima_nova_regular.woff2") format("woff2");
	font-weight: 300;
}
@font-face {
	font-family: "Proxima Nova Semibold";
	src: url("../fonts/proxima_nova_semibold.woff2") format("woff2");
	font-weight: 400;
}
@font-face {
	font-family: "Corinthia";
	src: url("../fonts/corinthia1.woff2") format("woff2");
	font-weight: 400;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	color: #333333;
	font: 400 @f-size-text @regular-font;
}
img {
	max-width: 100%
}
ul li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
.hidden {
	display: none;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
.flexsb() {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header-section {
	position: relative;
	min-height: 900px;
}
.header-bg {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	background: url(../img/banner.jpg) no-repeat;
}
.header-wrap {
	.flexsb;
	padding-top: 40px;
}
.logo {
	margin-right: 10px;
	&__img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 18px;
	}
	&__title {
		font-family: @bold-font;
		font-size: 24px;
		font-weight: 400;
		&_pink {
			color: #ff4d87;
		}
	}
}
.main-nav {
	position: relative;
	&__list {
		font-size: 0;
	}
	&__item {
		display: inline-block;
		margin-right: 105px; 
		padding: 10px 5px 7px;
		font-size: @f-size-small;
		font-family: @bold-font;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			color: #ff0a6a;
			transition: @transition-hover;
		}
		&_selected {
			color: #ff0a6a;
		}
	}
	&__list &__item:last-child {
		margin-right: 120px; 
	}
	&__btn {
		position: absolute;
		top: 12px;
		right: 10px;
		width: 15px;
		height: 13px;
		border: 0;
		border-top: 2px solid #000000;
		border-bottom: 2px solid #000000;
		background-color: transparent;
		cursor: pointer;
		&:hover {
			border-top: 2px solid #ff0a6a;
			border-bottom: 2px solid #ff0a6a;
			transition: @transition-hover;
		}
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			right: 0;
			width: 15px;
			height: 2px;
			background-color: #000000;
			transform: translateY(-50%);
		}
		&:hover::before {
			background-color: #ff0a6a;
			transition: @transition-hover;
		}
	}
}
.banner {
	max-width: 435px;
	padding: 150px 0 0;
	&__title {
		font-family: @bold-font;
		font-size: 45px;
		line-height: 40px;
	}
	&__features {
		.decor-font;
		font-size: 44px;
		margin: 50px 0 40px;
	}
	&__text {
		max-width: 320px;
		margin-bottom: 55px;
	}
	&__btn {
		.button();
		margin-right: auto;
		&:hover {
			.button-hover()
		}
	}
}
.unique-design-section {
	position: relative;
	min-height: 900px;
}
.unique-design-bg{
	position: absolute;
	top: 0;
	right: 50%;
	width: 50%;
	height: 100%;
	background: url(../img/unique-design.jpg) no-repeat;
}
.unique-design {
	max-width: 405px;
	margin-left: auto;
	padding: 235px 0 5px;
	text-align: right;
	&__features {
		.decor-font();
		margin-bottom: 22px;
	}
	&__title {
		.title();
		margin-bottom: 92px;
	}
	&__text {
		display: inline-block;
		max-width: 347px;
		margin-bottom: 25px;
	}
	&__btn {
		.button();
		margin-left: auto;
		&:hover {
		.button-hover();
		}
	}
}
.sewing-section {
	position: relative;
	min-height: 900px;
}
.sewing-bg {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	background: url(../img/sewing.jpg) no-repeat;
}
.sewing {
	max-width: 430px;
	margin-right: auto;
	padding: 235px 0 5px;
	&__features {
		.decor-font();
		margin-bottom: 22px;
	}
	&__title {
		.title();
		margin-bottom: 92px;
	}
	&__text {
		display: inline-block;
		max-width: 375px;
		margin-bottom: 25px;
	}
	&__btn {
		.button();
		margin-right: auto;
		&:hover {
			.button-hover();
		}
	}
}
.work-process-section {
	padding: 180px 0 55px;
	text-align: center;
}
.work-process-row1 {
	.flexsb();
	max-width: 965px;
	margin: 170px auto 0;
}
.work-process-row2 {
	.flexsb();
	max-width: 965px;
	margin: 0 auto;
}
.work-process {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 165px;
	margin: 0 0 165px 0;
	&::before {
		position: absolute;
		content: "";
		top: -80px;
		left: 50%;
		width: 58px;
		height: 53px;
		transform: translateX(-50%);
	}
	&_first::before {
		background: url(../img/icons/notepad.png) no-repeat;
	}
	&_second::before {
		background: url(../img/icons/weight-loss.png) no-repeat;
	}
	&_third::before {
		background: url(../img/icons/waist.png) no-repeat;
	}
	&_forth::before {
		background: url(../img/icons/towel.png) no-repeat;
	}
	&_fifth::before {
		background: url(../img/icons/dress.png) no-repeat;
	}
	&_sixth::before {
		background: url(../img/icons/giftbox.png) no-repeat;
	}
	&__main-title {
		.title();
		margin-bottom: 87px;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 15px;
		font-family: @bold-font;
	}
	&__text {
		font-size: 15px;
	}
}
.box-section {
	padding: 0 0 100px;
}
.box {
	text-align: center;
	&__title {
		.title();
		margin-bottom: 20px;
	}
	&__text {
		display: inline-block;
		max-width: 182px;
		margin-bottom: 50px;
		font-size: 14px;
		font-style: italic;
	}
}
.box-item-wrap {
	.flexsb();
}
.box-item {
	position:relative;
	padding: 90px 0 24px 28px; 
	&-left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: right;
		width: 32%;
	}
	&-right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: left;
		width: 32%;
	}
	&__img {
		align-self: center;
		width: 32%;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 15px;
		font-family: @bold-font;
	}
	&__text {
		font-size: 15px;
		&_bold {
			font-family: @bold-font;
		}
	}
	&::before {
		position: absolute;
		content: "";
		top: 30px;
		width: 40px;
		height: 41px;
	}
	&_first::before {
		right: 0;
		background: url(../img/icons/hanger.png) no-repeat;
	}
	&_second::before {
		right: 0;
		background: url(../img/icons/file.png) no-repeat;
	}
	&_third::before {
		left: 28px;
		background: url(../img/icons/sweater.png) no-repeat;
	}
	&_forth {
		border: 2px solid #e72867;
		&::before {
			left: 28px;
			background: url(../img/icons/gift.png) no-repeat;
		}
	}
}
.delivery {
	padding: 0 0 100px;
	text-align: center;
	&__title {
	.title();
	margin-bottom: 70px;
	}
}
	









