*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	color: #3f3f3f;
	font: 400 14px Roboto, Arial, Helvetica, sans-srif;
}
img {
	max-width: 100%
}
ul li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
.hidden {
	display: none;
}
.button {
	display: block;
	border: 0;
	cursor: pointer;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
}
.header-section {
	padding: 35px 0 175px;
	color: #ffffff;
	background: #222222 url(../img/header-bg.jpg) center top no-repeat;
}
.header  {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header-logo {
	position: relative;
	width: 160px;
	margin: 0 5px 0 0;
}
.header-logo__img {
	display: inline-block;
}
.header-logo__text {
	position: absolute;
	top: 50%;
	margin-left: 11px;
	font-size: 28px;
	transform: translateY(-50%);
}
.header-tel {
	position: relative;
	align-self: center;
	width: 205px;
	padding-left: 35px;
	margin: 0 60px 0 auto;
}
.header-tel::before {
	position: absolute;
	content: "";
	top: -1px;
	left: -10px;
	width: 28px;
	height: 42px;
	background: url(../img/icons/tel.png) no-repeat;
}
.header-tel__text {
	display: block;
	font-size: 12px;
	font-weight: 300;
}
.header-tel__link {
	font-size: 21px;
	font-weight: 500;
	cursor: default;
}
.header-nav {
	align-self: center;
	width: 48px;
}
.hamburger {
	position: relative;
	cursor: pointer;
}
.hamburger__btn {
	position: absolute;
	top: -20px;
	left: 0;
	width: 48px;
	height: 21px;
	border: none;
	border-top: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	border-radius: 2px;
	background-color: transparent;
	cursor: pointer;
}
.hamburger__btn::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 48px;
	height: 3px;
	border-radius: 3px;
	background-color: #ffffff;
	cursor: pointer;
	transform: translate(-50%, -50%);
}
.hamburger__btn:hover {
	border-color: #19b5fe;
	transition: 0.4s;
}
.hamburger__btn:hover::before {
	background-color: #19b5fe;
	transition: 0.4s;
}
.hamburger__title {
	position: absolute;
	top: 5px;
	left: 50%;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	transform: translateX(-50%);
}
.banner {
	position: relative;
	padding-top: 68px;
	text-align: center;
}
.banner::before {
	position: absolute;
	content: "";
	bottom: -105px;
	left: 50%;
	width: 17px;
	height: 49px;
	transform: translateX(-50%);
	background: url(../img/icons/mouse.png) no-repeat;
}
.banner__title {
	font-size: 48px;
	font-weight: 700;
	line-height: 44px;
}
.banner__subtitle {
	margin: 0 0 30px;
	font-size: 36px;	
}
.banner__text {
	display: block;
	margin: 40px 0 30px;
	font-size: 22px;
	font-weight: 100;
}
.banner-form-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 895px;
	margin: 0 auto;
}
.banner-form__input {
	width: 290px;
	height: 51px;
	border: none;
	border-radius: 30px;
	margin: 0 auto 10px;
	padding: 20px 0 20px 25px;
}
.banner-form__input::placeholder,
.banner-form__input::-moz-placeholder,
.banner-form__input:-moz-placeholder,
.banner-form__input::-webkit-input-placeholder {
	color: #606060;
	font-size: 13px;
	font-weight: 300;
}
.banner-form__input:-ms-input-placeholder {
	color: #606060;
	font-size: 13px;
	font-weight: 300;
}
.button {
	display: block;
	border: none;
	border-radius: 30px;
	color: #ffffff;
	background-color: #19b5fe;
	cursor: pointer;
}
.button:hover {
	box-shadow: 0 0 4px #19b5fe;
}
.banner-form__btn {
	margin: 20px auto;
	padding: 20px 50px;
}
.banner-form__text {
	display: block;
	font-weight: 300;
}
.services-section {
	padding: 60px 0 50px;
	background: #ffffff;
}
.title {
	position: relative;
	color: #363636;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
}
.services__title {
	margin: 0 auto 50px;
	text-align: center;
}
.services__title::before {
	position: absolute;
	content: "";
	top: 60px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 20px;
}
.services-info {
	width: 50%;
	padding: 50px 0 5px 29px;
}
.services-info_first,
.services-info_third {
	padding: 50px 29px 5px 0;
}
.services-info_second {
	padding: 50px 0 5px 29px;
}
.services__img {
	width: 50%;
	align-self: center;
}
.services__subtitle {
	color: #19b5fe;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
}
.services__text {
	max-width: 555px;
	margin-bottom: 20px;
	color: #464646;
	font-size: 18px;
	font-weight: 100;
	line-height: 24px;
}
.services__btn {
	padding: 20px 35px;
}
.price-section {
	padding: 60px 0;
	color: #ffffff;
	background: #464646 url(../img/calc-bg.jpg) center top no-repeat;
}
.price__title {
	position: relative;
	margin: 0 auto 40px;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
}
.price__title::after {
	position: absolute;
	content: "";
	top: 55px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #ffffff;
	transform: translateX(-50%);
}
.price__subtitle {
	display: block;
	margin-bottom: 35px;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
}
.price-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.price-square {
	width: 655px;
}
.square {
	margin-bottom: 8px;
	padding: 15px 26px 5px 23px;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
.square__title,
.package__title {
	margin-bottom: 15px;
	font-size: 20px;
}
.square-calc {
	position: relative;
}
.square-calc::before {
	position: absolute;
	content: "";
	top: 30px;
	left: 0;
	width: 605px;
	height: 9px;
	background-color: #ffffff;
	opacity: 0.5;
}
.calc_degree {
	font-size: 10px;
}
.square-calc__list {
	display: flex;
	justify-content: space-between;
}
.square-calc__item {
	position: relative;
	display: inline-block;
	margin: 0 5px 40px;
	font-size: 16px;
	font-weight: 300;
}
.square-calc__item::after,
.square-calc__item_selected::after {
	position: absolute;
	content: "";
	top: 25px;
	left: 50%;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #ffffff;
	transform: translateX(-50%);
	cursor: pointer;
}
.square-calc__item:hover::after {
	background-color: #19b5fe;
	transition: 0.4s;
}
.square-calc__item_selected::before {
	position: absolute;
	content: "";
	top: 31px;
	left: 50%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
	z-index: 1;
	cursor: default;
}
.square-calc__item_first::after {
	left: 0;
}
.square-calc__item_selected::after {
	background-color: #19b5fe;
	cursor: default;
}
.square-calc__item_forth::after {
	left: 100%;
}
.square-calc__list .square-calc__item:last-child {
	margin-right: 0;
}
.package {
	padding: 22px 26px 5px 23px;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
.package__btn-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.package__btn {
	width: 190px;
	padding: 16px 0 12px;
	border: 1px solid #ffffff;
	border-radius: 2px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	background-color: transparent;
	cursor: pointer;
}
.package__btn-box_first,
.package__btn-box_second,
.package__btn-box_third {
	position: relative;
	display: block;
	margin: 0 12px 20px 0;
}
.package__btn-box_third{
	margin-right: 0;
}
.package__btn-box_first:hover,
.package__btn-box_second:hover,
.package__btn-box_third:hover {
	border: none;
	background-color: #19b5fe;
	transition: 0.4s;
}
.package__info {
	position: absolute;
	visibility: hidden;
	top: 55px;
	left: 50%;
	width: 300px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	color: #464646;
	font-size: 12px;
	line-height: 24px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
	background-color: #ffffff;
	transform: translateX(-50%);
}
.package__info::before {
	position: absolute;
	content: "";
	top: -45px;
	left: 50%;
	width: 43px;
	height: 20px;
	border: 21px solid transparent;
	border-bottom: 25px solid #ffffff;
	transform: translateX(-50%);
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.package__btn-box_first:hover .package__info,
.package__btn-box_second:hover .package__info,
.package__btn-box_third:hover .package__info {
	visibility: visible;
	animation-name: fadeIn; 
	animation-duration: 1.5s;
}
.price-calc {
	margin: 0 auto 0 100px;
	text-align: center;
}
.price-calc__title {
	margin-bottom: 10px;
	font-size: 16px;
}
.price-calc__value {
	display: block;
	margin-bottom: 12px;
	font-size: 32px;
}
.price-calc__btn {
	margin: 0 auto 15px;
	padding: 20px 30px 18px;
}
.price-calc__text {
	display: block;
	margin-bottom: 5px;
	font-weight: 300;
}
.price-calc__tel {
	font-size: 18px;
	font-weight: 500;
}
.portfolio-section {
	padding: 45px 0 50px;
}
.portfolio__title {
	margin-bottom: 45px;
}
.portfolio__title::after {
	position: absolute;
	content: "";
	bottom: -20px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.portfolio__list {
	max-width: 830px;
	margin: 0 auto 23px;
	border: 1px solid #19b5fe;
	border-radius: 30px;
	font-size: 0;
}
.portfolio__item {
	position: relative;
	display: inline-block;
	padding: 15px 35px;
	color: #19b5fe;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	cursor: pointer;
}
.portfolio__item_first::after,
.portfolio__item_second::after,
.portfolio__item_third::after {
	position: absolute;
	content: "";
	top: 3px;
	right: 1px;
	width: 0.5px;
	height: 39px;
	background-color: #19b5fe;
	z-index: -1;
}
.portfolio__item_forth {
	padding: 15px 38px 15px 58px;
}
.portfolio__item:hover,
.portfolio__item_selected {
	border-radius: 5px;
	color: #ffffff;
	background-color: #19b5fe;
	transform: scale(1.08);
}
.portfolio__item_first:hover,
.portfolio__item_first .portfolio__item_selected {
	border-radius: 30px 5px 5px 30px;
}
.portfolio__item_forth:hover,
.portfolio__item_forth .portfolio__item_selected {
	border-radius: 5px 30px 30px 5px;
}
.portfolio__img-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio__img {
	width: 31%;
	margin: 0 auto 25px;
}
.advantages-section {
	padding: 45px 0 55px;
	background-color: #f2f8f9;
	opacity: 0.8;
}
.advantages__title {
	margin-bottom: 150px;
}
.advantages__title::after {
	position: absolute;
	content: "";
	bottom: -20px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.advantages-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.advantages {
	width: 280px;	
}
.advantages__text {
	position: relative;
	max-width: 240px;
	margin: 0 40px 150px 0;
	color: #3f3f3f;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
}
.advantages__text::before {
	position: absolute;
	content: "";
	top: -20px;
	left: 50%;
	width: 124px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.advantages__text::after {
	position: absolute;
	content: "";
	top: -90px;
	left: 50%;
	width: 75px;
	height: 65px;
	transform: translateX(-50%);
}
.advantages__text_first::after {
	background: url(../img/icons/advantages__text_first.svg) no-repeat;
}
.advantages__text_second::after {
	background: url(../img/icons/advantages__text_second.svg) no-repeat;
}
.advantages__text_third::after {
	background: url(../img/icons/advantages__text_third.svg) no-repeat;
}
.advantages__text_forth::after {
	background: url(../img/icons/advantages__text_forth.svg) no-repeat;
}
.advantages__text_fifth::after {
	background: url(../img/icons/advantages__text_fifth.svg) no-repeat;
}
.advantages__text_sixth::after {
	background: url(../img/icons/advantages__text_sixth.svg) no-repeat;
}
.process-section {
	padding: 65px 0;
}
.process__title {
	margin-bottom: 45px;
}
.process__title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.process {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.process__img {
	width: 50%;
}
.process__info {
	position: relative;
	width: 50%;
}
.process__text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #464646;
	font-size: 30px;
	font-weight: 300;
	transform: translate(-50%,-50%);
}
.partners-section {
	padding: 45px 0 55px;
	background-color: #f2f8f9;
	opacity: 0.8;
}
.partners {
	position: relative;
}
.partners__title {
	margin-bottom: 55px;
}
.partners__title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.partners-carousel-box {
	width: 540px;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
}
.partners-carousel {
	position: relative;
	display: inline-flex;
	left: 0;
	width: 1160px;
	transition: all ease 1s;
}
.partners-carousel__img {
	width: 116px;
	margin-right: 44px;
}
.partners__btn_right,
.partners__btn_left {
	position: absolute;
	width: 45px;
	height: 25px;
	border: none;
	cursor: pointer;
}
.partners__btn_left {
	top: 125px;
	right: 237px;
	transform: rotate(180deg);
}
.partners__btn_right {
	top: 106px;
	left: 237px;
}
.team-section {
	padding: 55px 0;
}
.team__tile {
	margin-bottom: 60px;
}
.team__tile::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.team-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.team {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	margin: 0 auto 50px;
}
.team__name {
	margin: 15px auto 10px;
	color: #19b5fe;
	font-size: 24px;
	font-weight: 300;
}
.team__position {
	color: #464646;
	font-size: 16px;
}
.team-quote {
	position: relative;
	max-width: 945px;
	margin: 30px auto 0;
	color: #464646;
	text-align: center;
}
.team-quote::before {
	position: absolute;
	content: "";
	top: -15px;
	left: -50px;
	width: 47px;
	height: 37px;
	background: url(../img/icons/mark1.png) no-repeat;
}
.team-quote::after {
	position: absolute;
	content: "";
	bottom: -15px;
	right: -50px;
	width: 47px;
	height: 37px;
	background: url(../img/icons/mark2.png) no-repeat;
}
.team-quote__slogan {
	display: block;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 300;
}
.team-quote__text {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
}
.team-quote__name,
.team-quote__position {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 500;
}
.team-quote__position {
	font-weight: 300;
}
.blog-section {
	padding: 45px 0 60px;
	text-align: center;
	background-color: #f2f8f9;
	opacity: 0.8;
}
.blog__title {
	margin-bottom: 50px;
}
.blog__title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.blog-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blog {
	width: 49%;
	margin: 10px 0 0;
}
.blog__img {
	margin-bottom: 25px;
}
.blog__link {
	color: #19b5fe;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}
.blog__link:hover  {
	text-decoration: underline;
}
.contacts-section {
	padding: 50px 0 0;
	color: #ffffff;
	text-align: center;
	background: #3f3f3f url(../img/contacts-bg.jpg) center top no-repeat;
}
.contacts__title {
	position: relative;
	margin-bottom: 40px;
	color: #ffffff; 
}
.contacts__title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #ffffff;
	transform: translateX(-50%);
}
.contacts__subtitle {
	display: block;
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: 300;
}
.contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 70px;
}
.contacts-form {
	width: 750px;
}
.contacts-form-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}
.contacts-form__text {
	width: 240px;
	margin: 5px 0 13px;
	padding: 16px 0 16px 20px;
	border: 1px solid rgba(0, 0, 0, 0.11);
	border-radius: 8px;
	background-color: #ffffff;
}
.contacts-form__text::placeholder,
.contacts-form__text::-moz-placeholder,
.contacts-form__text:-moz-placeholder,
.contacts-form__text::-webkit-input-placeholder {
	color: #606060;
	font-size: 13px;
	font-weight: 300;
}
.contacts-form__text:-ms-input-placeholder {
	color: #606060;
	font-size: 13px;
	font-weight: 300;
}
.contacts-form__message {
	width: 750px;
	min-height: 123px;
	margin-bottom: 17px;
	padding: 16px 20px 16px 20px;
	color: #3f3f3f;
	font: 400 14px Roboto, Arial, Helvetica, sans-srif;
	resize: none;
}
.contacts__btn {
	display: block;
	margin: 0 auto;
	padding: 20px 45px;
}
.contacts-data {
	width: 290px;
	margin-top: 10px;
}
.contacts__text {
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding-left: 40px;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
}
.contacts__text::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 30px;
	height: 35px;
}
.contacts__text_first::before {
	background: url(../img/icons/tel_contacts.png) no-repeat;
}
.contacts__text_second::before {
	background: url(../img/icons/whatsup.png) no-repeat;
}
.contacts__text_third::before {
	background: url(../img/icons/envelope.png) no-repeat;
}
.contacts__text_forth::before {
	background: url(../img/icons/skype.png) no-repeat;
}
.contacts__text_fifth::before {
	background: url(../img/icons/telegram.png) no-repeat;
}
.contacts__schedule {
	display: block;
	margin-top: 25px;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
}
.contacts-map {
	margin: -2px 0;
	cursor: pointer;
}
.footer-section {
	padding: 35px 0;
	color: #ffffff;
	background-color: #24241f;
}