*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	color: #3f3f3f;
	font: 400 14px Roboto, Arial, Helvetica, sans-srif;
}
img {
	max-width: 100%
}
ul li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
.hidden {
	display: none;
}
.button {
	display: block;
	border: 0;
	cursor: pointer;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
}
.header-section {
	padding: 35px 0 150px;
	color: #ffffff;
	background: #222222 url(../img/header-bg.jpg) center top no-repeat;
}
.header  {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 68px;
}
.header-logo {
	position: relative;
	width: 160px;
	margin: 0 5px 0 0;
}
.header-logo__img {
	display: inline-block;
}
.header-logo__text {
	position: absolute;
	top: 50%;
	margin-left: 11px;
	font-size: 28px;
	transform: translateY(-50%);
}
.header-tel {
	position: relative;
	align-self: center;
	width: 205px;
	padding-left: 35px;
	margin: 0 60px 0 auto;
}
.header-tel::before {
	position: absolute;
	content: "";
	top: -1px;
	left: -10px;
	width: 28px;
	height: 42px;
	background: url(../img/icons/tel.png) no-repeat;
}
.header-tel__text {
	display: block;
	font-size: 12px;
	font-weight: 300;
}
.header-tel__link {
	font-size: 21px;
	font-weight: 500;
	cursor: default;
}
.hamburger {
	position: relative;
	align-self: center;
	width: 48px;
	cursor: pointer;
}
.hamburger__btn {
	position: absolute;
	top: -20px;
	left: 0;
	width: 48px;
	height: 21px;
	border: none;
	border-top: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	border-radius: 2px;
	background-color: transparent;
	cursor: pointer;
}
.hamburger__btn::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 48px;
	height: 3px;
	border-radius: 3px;
	background-color: #ffffff;
	cursor: pointer;
	transform: translate(-50%, -50%);
}
.hamburger__btn:hover {
	border-color: #19b5fe;
	transition: 0.4s;
}
.hamburger__btn:hover::before {
	background-color: #19b5fe;
	transition: 0.4s;
}
.hamburger__title {
	position: absolute;
	top: 5px;
	left: 50%;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	transform: translateX(-50%);
}
.header-nav {
	position: relative;
	opacity: 0;
	z-index: -1;
}
@keyframes fadeMainMenu {
	0% {
		opacity: 0;
		z-index: 2;
	}
	100% {
		opacity: 1;
		z-index: 2;
	}
}
@keyframes fadeOutMainMenu {
	0% {
		opacity: 1;
		z-index: 2;
	}
	100% {
		opacity: 0;
		z-index: -1;
	}
}
.fadein-menu {
	animation: fadeMainMenu 1s forwards;
}
.fadeout-menu {
	animation: fadeOutMainMenu 0.7s forwards;
}
.main-nav-wrap {
	position: absolute;
	top: -63px;
	left: 0;
	z-index: 2;
	width: 100%;
	border-radius: 5px;
	background-color: rgba(25,181,254, 0.9);
}
.header-nav__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px 10px;
	font-size: 0;
}
.header-nav__item {
	width: 285px;
	margin: 0 auto 20px;
	font-size: 18px;
	cursor: pointer;
}
.header-nav__item:hover {
	color: #606060;
	transition: 0.4s;
}
.banner {
	position: relative;
	text-align: center;
}
.banner::before {
	position: absolute;
	content: "";
	bottom: -105px;
	left: 50%;
	width: 17px;
	height: 49px;
	transform: translateX(-50%);
	background: url(../img/icons/mouse.png) no-repeat;
}
.banner__title {
	font-size: 48px;
	font-weight: 700;
	line-height: 44px;
}
.banner__subtitle {
	margin: 0 0 30px;
	font-size: 36px;	
}
.banner__text {
	display: block;
	margin: 40px 0 30px;
	font-size: 22px;
	font-weight: 100;
}
.banner-form-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 895px;
	margin: 0 auto;
}
.banner-form__input {
	width: 290px;
	height: 51px;
	border: none;
	border-radius: 30px;
	margin: 0 auto 10px;
	padding: 20px 0 20px 25px;
}
.banner-form__input::placeholder,
.banner-form__input::-moz-placeholder,
.banner-form__input:-moz-placeholder,
.banner-form__input::-webkit-input-placeholder {
	color: #606060;
	font-size: 13px;
	font-weight: 300;
}
.banner-form__input:-ms-input-placeholder {
	color: #606060;
	font-size: 13px;
	font-weight: 300;
}
.button {
	display: block;
	border: none;
	border-radius: 30px;
	color: #ffffff;
	background-color: #19b5fe;
	cursor: pointer;
}
.button:hover {
	box-shadow: 0 0 4px #19b5fe;
}
.banner-form__btn {
	margin: 30px auto 20px;
	padding: 20px 50px;
}
.banner-form__text {
	display: block;
	font-weight: 300;
}
.design-form-wrap {
	position: relative;
}
.help-text {
	position: absolute;
	top: 60px;
	left: 50%;
	width: 100%;
	color: #19b5fe;
	font-size: 12px;
	font-weight: 300;
	transform: translateX(-50%);
}
.services-section {
	padding: 60px 0 50px;
	background: #ffffff;
}
.title {
	position: relative;
	color: #363636;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
}
.services__title {
	margin: 0 auto 50px;
	text-align: center;
}
.services__title::before {
	position: absolute;
	content: "";
	top: 60px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 20px;
}
.services-info {
	width: 50%;
	padding: 50px 0 5px 29px;
}
.services-info_first,
.services-info_third {
	padding: 50px 29px 5px 0;
}
.services-info_second {
	padding: 50px 0 5px 29px;
}
.services__img {
	width: 50%;
	align-self: center;
}
.services__subtitle {
	color: #19b5fe;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
}
.services__text {
	max-width: 555px;
	margin-bottom: 20px;
	color: #464646;
	font-size: 18px;
	font-weight: 100;
	line-height: 24px;
}
.services__btn {
	padding: 20px 35px;
}
.price-section {
	padding: 60px 0;
	color: #ffffff;
	background: #464646 url(../img/calc-bg.jpg) center top no-repeat;
}
.price__title {
	position: relative;
	margin: 0 auto 40px;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
}
.price__title::after {
	position: absolute;
	content: "";
	top: 55px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #ffffff;
	transform: translateX(-50%);
}
.price__subtitle {
	display: block;
	margin-bottom: 35px;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
}
.price-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.price-square {
	width: 655px;
}
.square {
	margin-bottom: 8px;
	padding: 15px 26px 5px 23px;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
.square__title,
.package__title {
	margin-bottom: 15px;
	font-size: 20px;
}
.square-calc {
	position: relative;
}
.square-calc::before {
	position: absolute;
	content: "";
	top: 30px;
	left: 0;
	width: 605px;
	height: 9px;
	background-color: #ffffff;
	opacity: 0.5;
}
.calc_degree {
	font-size: 10px;
}
.square-calc__list {
	display: flex;
	justify-content: space-between;
}
.square-calc__item {
	position: relative;
	display: inline-block;
	margin: 0 5px 40px;
	font-size: 16px;
	font-weight: 300;
}
.square-calc__item::after,
.square-calc__item_selected::after,
.square-calc__item_selected-left::after, 
.square-calc__item_selected-right::after {
	position: absolute;
	content: "";
	top: 25px;
	left: 50%;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #ffffff;
	transform: translateX(-50%);
	cursor: pointer;
}
.square-calc__item:hover::after {
	background-color: #19b5fe;
	transition: 0.4s;
}
.square-calc__item_selected::before,
.square-calc__item_selected-left::before,
.square-calc__item_selected-right::before  {
	position: absolute;
	content: "";
	top: 31px;
	left: 50%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
	z-index: 1;
	cursor: default;
}
.square-calc__item_first::after {
	left: 0;
}
.square-calc__item_selected-left::before {
	left: 0;
}
.square-calc__item_selected-right::before {
	left: 75px;
}
.square-calc__item_selected::after,
.square-calc__item_selected-left::after,
.square-calc__item_selected-right::after {
	background-color: #19b5fe;
	cursor: default;
}
.square-calc__item_forth::after {
	left: 100%;
}
.square-calc__list .square-calc__item:last-child {
	margin-right: 0;
}
.package {
	padding: 22px 26px 5px 23px;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
.package__btn-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.package__btn {
	position: relative;
	z-index: 2;
	width: 190px;
	padding: 16px 0 12px;
	border: 1px solid #ffffff;
	border-radius: 2px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	background-color: transparent;
	cursor: pointer;
}
.package__btn_selected {
	border: none;
	background-color: #19b5fe;
}
.package__btn-box_first,
.package__btn-box_second,
.package__btn-box_third {
	position: relative;
	display: block;
	margin: 0 12px 20px 0;
}
.package__btn-box_third{
	margin-right: 0;
}
.package__btn-box_first:hover,
.package__btn-box_second:hover,
.package__btn-box_third:hover {
	border: none;
	background-color: #19b5fe;
	transition: 0.4s;
}
.package__info {
	position: absolute;
	visibility: hidden;
	top: 65px;
	left: 50%;
	width: 300px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	color: #464646;
	font-size: 12px;
	line-height: 24px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
	background-color: #ffffff;
	transform: translateX(-50%);
}
.package__info::before {
	position: absolute;
	content: "";
	top: -45px;
	left: 50%;
	width: 43px;
	height: 20px;
	border: 21px solid transparent;
	border-bottom: 25px solid #ffffff;
	transform: translateX(-50%);
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.package__btn-box_first:hover .package__info,
.package__btn-box_second:hover .package__info,
.package__btn-box_third:hover .package__info {
	visibility: visible;
	animation-name: fadeIn; 
	animation-duration: 1.5s;
}
.price-calc {
	margin: 0 auto 0 100px;
	text-align: center;
}
.price-calc__title {
	margin-bottom: 10px;
	font-size: 16px;
}
.price-calc__value {
	display: block;
	margin-bottom: 12px;
	font-size: 32px;
}
.price-calc__btn {
	margin: 0 auto 15px;
	padding: 20px 30px 18px;
}
.price-calc__text {
	display: block;
	margin-bottom: 5px;
	font-weight: 300;
}
.price-calc__tel {
	font-size: 18px;
	font-weight: 500;
}
.portfolio-section {
	padding: 45px 0 50px;
}
.portfolio__title {
	margin-bottom: 45px;
}
.portfolio__title::after {
	position: absolute;
	content: "";
	bottom: -20px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.portfolio__list {
	max-width: 830px;
	margin: 0 auto 23px;
	border: 1px solid #19b5fe;
	border-radius: 30px;
	font-size: 0;
}
.portfolio__item {
	position: relative;
	display: inline-block;
	padding: 15px 35px;
	color: #19b5fe;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	cursor: pointer;
}
.portfolio__item_first::after,
.portfolio__item_second::after,
.portfolio__item_third::after {
	position: absolute;
	content: "";
	top: 3px;
	right: 1px;
	width: 0.5px;
	height: 39px;
	background-color: #19b5fe;
	z-index: -1;
}
.portfolio__item_forth {
	padding: 15px 38px 15px 58px;
}
.portfolio__item:hover,
.portfolio__item_selected,
.portfolio__item_first-selected,
.portfolio__item_forth-selected {
	border-radius: 5px;
	color: #ffffff;
	background-color: #19b5fe;
	transform: scale(1.08);
}
.portfolio__item_first:hover {
	border-radius: 30px 5px 5px 30px;
}
.portfolio__item_first-selected {
	border-radius: 30px 5px 5px 30px;
}
.portfolio__item_forth-selected {
	border-radius: 5px 30px 30px 5px;
}
.portfolio__item_forth:hover,
.portfolio__item_forth .portfolio__item_selected {
	border-radius: 5px 30px 30px 5px;
}
.portfolio__img-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio__img {
	width: 31%;
	margin: 0 auto 25px;
	cursor: pointer;
}
.portfolio__img_anim {
	animation: fadeMainMenu 1.5s forwards;
}
.advantages-section {
	padding: 45px 0 55px;
	background-color: #f2f8f9;
	opacity: 0.8;
}
.advantages__title {
	margin-bottom: 150px;
}
.advantages__title::after {
	position: absolute;
	content: "";
	bottom: -20px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.advantages-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.advantages {
	width: 280px;	
}
.advantages__text {
	position: relative;
	max-width: 240px;
	margin: 0 40px 150px 0;
	color: #3f3f3f;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
}
.advantages__text::before {
	position: absolute;
	content: "";
	top: -20px;
	left: 50%;
	width: 124px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.advantages__text::after {
	position: absolute;
	content: "";
	top: -90px;
	left: 50%;
	width: 75px;
	height: 65px;
	transform: translateX(-50%);
}
.advantages__text_first::after {
	background: url(../img/icons/advantages__text_first.svg) no-repeat;
}
.advantages__text_second::after {
	background: url(../img/icons/advantages__text_second.svg) no-repeat;
}
.advantages__text_third::after {
	background: url(../img/icons/advantages__text_third.svg) no-repeat;
}
.advantages__text_forth::after {
	background: url(../img/icons/advantages__text_forth.svg) no-repeat;
}
.advantages__text_fifth::after {
	background: url(../img/icons/advantages__text_fifth.svg) no-repeat;
}
.advantages__text_sixth::after {
	background: url(../img/icons/advantages__text_sixth.svg) no-repeat;
}
.process-section {
	padding: 65px 0;
}
.process__title {
	margin-bottom: 45px;
}
.process__title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.process {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.process__img {
	width: 50%;
}
.process__info {
	position: relative;
	width: 50%;
}
.process__text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #464646;
	font-size: 30px;
	font-weight: 300;
	transform: translate(-50%,-50%);
}
.partners-section {
	padding: 45px 0 55px;
	background-color: #f2f8f9;
	opacity: 0.8;
}
.partners {
	position: relative;
}
.partners__title {
	margin-bottom: 55px;
}
.partners__title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.partners-carousel-box {
	width: 540px;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
}
.partners-carousel {
	position: relative;
	display: inline-flex;
	left: 0;
	width: 1160px;
	transition: all ease 1s;
}
.partners-carousel__img {
	width: 116px;
	margin-right: 44px;
}
.partners__btn_right,
.partners__btn_left {
	position: absolute;
	width: 45px;
	height: 25px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.partners__btn_left {
	top: 125px;
	right: 20%;
	transform: rotate(180deg);
}
.partners__btn_right {
	top: 106px;
	left: 20%;
}
.team-section {
	padding: 55px 0;
}
.team__title {
	margin-bottom: 60px;
}
.team__title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.team-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.team {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	margin: 0 auto 50px;
}
.team__name {
	margin: 15px auto 10px;
	color: #19b5fe;
	font-size: 24px;
	font-weight: 300;
}
.team__position {
	color: #464646;
	font-size: 16px;
}
.team-quote {
	position: relative;
	max-width: 945px;
	margin: 30px auto 0;
	color: #464646;
	text-align: center;
}
.team-quote::before {
	position: absolute;
	content: "";
	top: -15px;
	left: -50px;
	width: 47px;
	height: 37px;
	background: url(../img/icons/mark1.png) no-repeat;
}
.team-quote::after {
	position: absolute;
	content: "";
	bottom: -15px;
	right: -50px;
	width: 47px;
	height: 37px;
	background: url(../img/icons/mark2.png) no-repeat;
}
.team-quote__slogan {
	display: block;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 300;
}
.team-quote__text {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
}
.team-quote__name,
.team-quote__position {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 500;
}
.team-quote__position {
	font-weight: 300;
}
.blog-section {
	padding: 45px 0 60px;
	text-align: center;
	background-color: #f2f8f9;
	opacity: 0.8;
}
.blog__title {
	margin-bottom: 50px;
}
.blog__title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.blog-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blog {
	width: 49%;
	margin: 10px 0 0;
}
.blog__img {
	margin-bottom: 25px;
}
.blog__link {
	color: #19b5fe;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}
.blog__link:hover  {
	text-decoration: underline;
}
.contacts-section {
	padding: 50px 0 0;
	color: #ffffff;
	text-align: center;
	background: #3f3f3f url(../img/contacts-bg.jpg) center top no-repeat;
}
.contacts__title {
	position: relative;
	margin-bottom: 40px;
	color: #ffffff; 
}
.contacts__title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #ffffff;
	transform: translateX(-50%);
}
.contacts__subtitle {
	display: block;
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: 300;
}
.contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}
.contacts-form {
	width: 750px;
}
.contacts-form-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}
.contacts-form__text {
	width: 240px;
	margin: 5px 0 13px;
	padding: 16px 0 16px 20px;
	border: 1px solid rgba(0, 0, 0, 0.11);
	border-radius: 8px;
	background-color: #ffffff;
}
.contacts-form__text::placeholder,
.contacts-form__text::-moz-placeholder,
.contacts-form__text:-moz-placeholder,
.contacts-form__text::-webkit-input-placeholder {
	color: #606060;
	font-size: 13px;
	font-weight: 300;
}
.contacts-form__text:-ms-input-placeholder {
	color: #606060;
	font-size: 13px;
	font-weight: 300;
}
.contacts-form__message {
	width: 750px;
	min-height: 123px;
	margin: 17px 0;
	padding: 16px 20px 16px 20px;
	color: #3f3f3f;
	font: 400 14px Roboto, Arial, Helvetica, sans-srif;
	resize: none;
}
.contacts__btn {
	display: block;
	margin: 0 auto;
	padding: 20px 45px;
}
.contacts-data {
	width: 290px;
	margin-top: 10px;
}
.contacts__text {
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding-left: 40px;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
}
.contacts__text::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 30px;
	height: 35px;
}
.contacts__text_first::before {
	background: url(../img/icons/tel_contacts.png) no-repeat;
}
.contacts__text_second::before {
	background: url(../img/icons/whatsup.png) no-repeat;
}
.contacts__text_third::before {
	background: url(../img/icons/envelope.png) no-repeat;
}
.contacts__text_forth::before {
	background: url(../img/icons/skype.png) no-repeat;
}
.contacts__text_fifth::before {
	background: url(../img/icons/telegram.png) no-repeat;
}
.contacts__schedule {
	display: block;
	margin-top: 25px;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
}
.contacts-map {
	margin: -2px 0;
	cursor: pointer;
}
.footer-section {
	padding: 35px 0;
	color: #ffffff;
	background-color: #24241f;
}
.footer-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-nav {
	width: 495px;
	margin: 0 5px 60px 0;
}
.footer-nav__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 100%;
}
.footer-nav__item {
	width: 165px;
	margin-bottom: 12px;
	font-weight: 300;
}
.footer-nav__item:hover {
	color: #19b5fe;
	transition: 0.4s;
}
.footer-social__text {
	display: block;
	margin-bottom: 12px;
	font-weight: 300;
}
.footer-social__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.footer-social__item {
	width: 31px;
	margin-right: 5px;
}
.footer-social__link {
	position: relative;
	display: block;
}
.footer-social__link::before {
	position: absolute;
	content: "";
	top: 10px;
	left: 50%;
	width: 31px;
	height: 31px;
	transform: translate(-50%, -50%);
}
.footer-social__link_first::before {
	background: url(../img/icons/fb.png) no-repeat;
}
.footer-social__link_second::before {
	background: url(../img/icons/g+.png) no-repeat;
}
.footer-social__link_third::before {
	background: url(../img/icons/inst.png) no-repeat;
}
.copyright {
	position: relative;
	padding-top: 45px;
	font-weight: 300;
}
.copyright::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	opacity: 0.2;
	background-color: #ffffff;
}
.copyright-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.copyright-right__text {
	vertical-align: top;
}
.copyright-right__img {
	display: inline-block;
	margin: -22px 0 0 10px;
}
.overlay-form,
.overlay-callback,
.overlay-map,
.overlay-portfolio {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(25, 181, 254,0.2);
	z-index: 50;
}
.modal-form,
.modal-callback,
.modal-map,
.modal-portfolio {
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 99;
	width: 300px;
	height: 150px;
	border: 2px solid #19b5fe;
	border-radius: 10px;
	background: rgba(255,255,255,0.95);
	transform: translateX(-50%);
}
.modal-form__text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	padding: 40px 10px;
	text-align: center;
	transform: translate(-50%,-50%);
}
.modal-callback {
	width: 400px;
	height: 370px;
}
.modal-callback .banner-form-wrap {
	justify-content: center;
	margin: 25px auto 15px;
}
.modal-callback .banner-form__input {
	margin-bottom: 30px;
	border: 1px solid #c1c1c1;
}
.modal-callback .help-text {
	left: 60%;
}
.modal-callback .banner-form__btn {
	margin: -10px auto 0 6%;
	width: 165px;
	padding: 20px 30px;
}
.design-form-btn {
	position: relative;
}
.design-form-btn .help-text_btn {
	position: absolute;
	top: 65px;
	left: 72%;
}
.modal-callback .help-text_btn-cancel{
	position: relative;
	margin: -56px 6% 0 auto;
	z-index: 3;
}
.contacts-input-wrap {
	position: relative;
}
.contacts-input-wrap .help-text {
	top: 55px;
}
.overlay-portfolio {
	background: rgba(25, 181, 254,0.4);
}
.modal-portfolio {
	width: 500px;
	height: 303px;
	border-radius: 2px;
}
.modal-portfolio__img-overlay {
	width: 500px;
	height: 300px;
}
.modal-portfolio__name {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

/*BLOG*/
.blog-main-body {
	z-index: 1 !important;
}
.blog-main-body .header-section {
	background: none;
	padding-bottom: 30px;
}
.blog-main-body .header {
	margin-bottom: 0;
}
.blog-main-body .header-tel {
	margin: 0 auto;
}
.header-blog-link {
	align-self: center;
	width: 120px;
	padding: 12px 20px;
	text-align: center;
	cursor: pointer;
}
.blog-main-body .header-nav {
	display: none;
}
.blog-main-body {
	position: relative;
	background: url(../img/blog/min-bg.jpg) center center no-repeat;
	background-attachment: fixed;
	color: #ffffff;
	z-index: -2;
}
.blog-main-body::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: -1;
}
.blog-main {
	padding: 0 100px 50px;
}
.blog-main__title {
	position: relative;
	margin: 0 auto 50px;
	max-width: 900px;
	color: #ff9657;
	font-size: 32px;
}
.blog-main__title::after {
	position: absolute;
	content: "";
	bottom: -12px;
	left: 50%;
	width: 377px;
	height: 1px;
	background-color: #19b5fe;
	transform: translateX(-50%);
}
.blog-main__text {
	margin: 0 auto;
	padding-bottom: 10px;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
}
.blog-slider-wrap {
	width: 700px;
	height: 350px;
	margin: 20px auto;
	overflow: hidden;
}
.blog-slider {
	position: relative;
	left: 0;
	display: inline-flex;
	transition: all ease 3s;
}
.blog-slider__img {
	width: 700px;
}
.blog-main__img_first {
	float: left;
	width: 340px;
	padding: 2px 10px 10px 0;
}
.blog-main__img_second {
	float: right;
	width: 360px;
	padding: 2px 0 10px 10px;
}

/*Form page*/
.header-form {
	min-height: 500px;
}
.header-form .header {
	margin-bottom: 20px;
}
.form-body__text {
	margin: 0 auto 20px;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
}
.form-body__btn {
	display: block;
	width: 200px;
	margin: 0 auto;
	padding: 20px 45px;
	text-align: center;
}

/*MEDIA QUERY*/

@media (max-width: 1080px) {
	.price-square {
		width: 580px;
	}
	.square-calc::before {
		width: 530px;
	}
	.package__btn {
		width: 160px;
	}
	.partners__btn_right {
		left: 18%;
	}
	.partners__btn_left {
		right: 18%;
	}
	.team-quote::before {
		left: 0;
	}
	.team-quote::after {
		right: 0;
	}
	.contacts-form {
		width: 660px;
	}
	.contacts-form__text {
		width: 200px;
	}
	.contacts-form__message {
		width: 660px;
	}
}

@media (max-width: 997px) {
	.header-nav__item {
		width: 220px;
	}
	.banner-form__input {
		width: 235px;
	}
	.price__subtitle {
		font-size: 24px;
	}
	.price-wrap {
		justify-content: space-around;
	}
	.price-square {
		width: 420px;
	}
	.square-calc::before {
   		width: 370px;
	}
	.package {
    	padding: 22px 10px 5px 10px;
	}
	.package__btn {
		width: 120px;
	}
	.package__info_first {
		left: 120%;
	}.package__info_first::before {
		left: 22%;
	}
	.price-calc {
		margin: 0 10px;
	}
	.price-calc__value {
		font-size: 24px;
	}
	.price-calc__btn {
		padding: 20px 20px 18px;
	}
	.portfolio__list {
    	max-width: 748px;
	}
	.portfolio__item {
		font-size: 11px;
	}
	.portfolio__item_forth {
		padding-right: 62px;
	}
	.process__text {
		font-size: 21px;
	}
	.partners__btn_right {
		left: 12%;
	}
	.partners__btn_left {
		right: 12%;
	}
	.contacts__subtitle {
		font-size: 24px;
	}
	.contacts {
		justify-content: space-around;
	}
	.contacts-form {
		width: 500px;
	}
	.contacts-form__text {
		width: 160px;
	}
	.contacts-form__message {
		width: 500px;
	}
	.contacts-data {
		width: 220px;
	}
	.contacts__schedule {
		max-width: 160px;
	}
	.blog-main {
		padding: 0 25px 50px;
	}
}

@media (max-width: 850px) {
	.partners__btn_right {
		left: 7%;
	}
	.partners__btn_left {
		right: 7%;
	}
}

@media (max-width: 767px) {
	*:focus,
	*:active {
		outline: none;
	}
	.header-section {
		padding: 10px 0 15px;
		background-size: 200% 100%;
	}
	.header {
		margin-bottom: 40px;
	}
	.header-logo__img {
		width: 45px;
	}
	.header-logo__text {
		margin-left: 5px;
		font-size: 22px;
	}
	.hamburger__btn-close {
		position: absolute;
		top: 30px;
		right: 5px;
		width: 55px;
		height: 55px;
		z-index: 200;
		background-color: transparent;
		border: 0;
	}
	.hamburger__btn-close::before {
		position: absolute;
		content: "";
		top: 0;
		left: 35px;
		width: 5px;
		height: 25px;
		border-radius: 2px;
		background-color: rgba(255,255,255,0.9);
		transform: rotate(45deg);
	}
	.hamburger__btn-close::after {
		position: absolute;
		content: "";
		top: 0;
		left: 35px;
		width: 5px;
		height: 25px;
		border-radius: 2px;
		background-color: rgba(255,255,255,0.9);
		transform: rotate(-45deg);
	}
	.header-tel,
	.price__subtitle,
	.package__info,
	.portfolio__item::after,
	.advantages__title::after,
	.partners__title::after,
	.team-quote::before,
	.team-quote::after,
	.footer-social__text,
	.copyright::before,
	.blog-main__title::after,
	.hamburger__btn  {
		display: none;
	}
	.hamburger__btn-small {
		display: block;
	}
	.banner__title {
		font-size: 36px;
	}
	.banner__subtitle {
		margin: 0 0 20px;
		font-size: 22px;
	}
	.banner__text {
		margin: 20px auto;
		font-size: 18px;
	}
	.banner-form {
		width: 100%;
		margin: 0 auto;
	}
	.banner-form-wrap {
		display: block;
		margin-bottom: 15px;
	}
	.banner-form__input {
		width: 50%;
		margin: 10px auto;
	}
	.help-text {
		top: 62px;
	}
	.banner-form__btn {
		margin: 15px auto 5px;
	}
	.banner-form__text {
		margin: 5px auto;
		font-size: 13px;
		line-height: 14px;
	}
	.services-section,
	.price-section,
	.portfolio-section,
	.advantages-section,
	.process-section,
	.team-section,
	.blog-section,
	.contacts-section,
	.footer-section {
		padding: 15px 0;
	}
	.title,
	.price__title,
	.portfolio__title,
	.advantages__title,
	.process__title,
	.team__title,
	.blog__title,
	.contacts__title {
		margin: 0 auto 15px;
		font-size: 30px;
		text-align: center;
	}
	.title::before,
	.price__title::after,
	.portfolio__title::after,
	.process__title::after,
	.team__title::after,
	.blog__title::after,
	.contacts__title::after  {
		top: 40px;
		width: 280px;
	}
	.services {
		margin: 10px 0;
	}
	.services__subtitle {
		font-size: 26px;
		text-align: center;
	}
	.services-info {
		order: 2;
		width: 100%;
		margin: 10px auto 0;
		padding: 0;
	}
	.services__img {
		order: 1;
		width: 100%;
	}
	.services__text {
		width: 100%;
		margin: 0 auto 10px;
		font-size: 15px;
		text-align: justify;
	}
	.button {
		margin: 0 auto;
	}
	.price__title {
		margin-bottom: 30px;
		font-size: 29px;
	}
	.square {
		padding: 15px 5px 5px;
	}
	.square__title,
	.package__title {
		padding-left: 15px;
		font-size: 18px;
	}
	.square-calc__item {
		font-size: 12px;
	}
	.square-calc::before {
    	width: 100%;
	}
	.square-calc__item_forth::after {
   		left: 90%;
	}
	.square-calc__item_selected-right::before {
   		left: 52px;
	}
	.package__btn-box_first,
	.package__btn-box_second,
	.package__btn-box_third {
		width: 30%;
	    margin: 0 5px 20px 0;
	}
	.package__btn {
    	width: 100%;
	}
	.price-calc {
		margin-top: 10px;
	}
	.price-calc__title {
	    margin-bottom: 0px;
	    font-size: 16px;
	}
	.price-calc__value {
	    font-size: 20px;
	}
	.price-calc__total {
		margin-bottom: 5px;
	}
	.price-calc__text {
		margin: 5px auto;
	}
	.portfolio__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 10px;
		border: 0;
	}
	.portfolio__item {
		width: 30%;
		margin: 5px auto;
		padding: 5px 0;
		border-radius: 5px;
		font-size: 11px;
		text-align: center;
	}
	.portfolio__item:hover,
	.portfolio__item_selected .portfolio__item_second,
	.portfolio__item_selected,
	.portfolio__item_first-selected,
	.portfolio__item_forth-selected {
		margin: 5px auto;
		padding: 5px;
		border-radius: 5px;
		font-size: 11px;
		color: #ffffff;
		background-color: #19b5fe;
		transform: scale(1);
	}
	.portfolio__item_third {
		width: 40%;
	}
	.portfolio__item_forth {
		width: 100%;
	}
	.portfolio__img {
		width: 48%;
		margin-bottom: 4px;
	}
	.advantages {
		width: 100%;
		text-align: center;
	}
	.advantages__text {
		max-width: 100%;
		margin: 0 auto 100px;
	}
	.advantages__text::before  {
		top: -5px;
	}
	.advantages__text::after  {
		top: -75px;
	}
	.advantages__text_first {
		margin-top: 80px;
	}
	.advantages__text_sixth {
		margin-bottom: 10px;
	}
	.process__title,
	.partners__title {
		margin-bottom: 20px;
		font-size: 24px;
	}
	.process__title::after {
		top: 35px;
	}
	.process__text {
		width: 100%;
		font-size: 14px;
		text-align: center;
	}
	.partners-carousel-box {
   		width: 305px;
	}
	.partners-arr_right,
	.partners-arr_left {
		width: 30px;
	}
	.partners__btn_right {
		top: 70px;
    	left: 12%;
	}
	.partners__btn_left {
		top: 74px;
    	right: 12%;
	}
	.team__title {
		margin-bottom: 25px;
	}
	.team {
		width: 46%;
		margin: 0 auto 20px;
		text-align: center;
	}
	.team__name {
		width: 100%;
		margin: 5px auto;
		font-size: 18px;
	}
	.team__position {
		font-size: 14px;
	}
	.team-quote {
		margin: 0 auto;
	}
	.team-quote__slogan {
		margin-bottom: 5px;
		font-size: 24px;
	}
	.team-quote__text {
		margin-bottom: 0;
		font-size: 14px;
		text-align: justify;
	}
	.team-quote__name {
		text-align: right;
	}
	.team-quote__position {
		font-size: 12px;
		text-align: right;
	}
	.blog {
		width: 100%;
	}
	.blog__img {
		margin-bottom: 5px;
	}
	.blog__link {
		font-size: 14px;
		line-height: 20px;
	}
	.contacts {
		margin-bottom: 15px;
	}
	.contacts__subtitle {
		margin-bottom: 5px;
		font-size: 18px;
	}
	.contacts-form {
		width: 100%;
		margin-bottom: 10px;
	}
	.contacts-input-wrap {
		width: 60%;
		margin: 0 auto;
	}
	.contacts-form__text {
		width: 100%;
		margin-bottom: 15px;
	}
	.contacts__text {
		margin-bottom: 15px;
	}
	.contacts-form__message {
		margin-bottom: 5px;
	}
	.contacts-data {
		width: 90%;
	}
	.contacts__schedule {
		display: block;
		max-width: 100%;
		margin-top: 15px;
		font-size: 14px;
	}
	.contacts-map {
		min-height: 100px;
	}
	.footer-nav {
		width: 100%;
	}
	.footer-social {
		width: 100%;
	}
	.footer-nav__list {
		justify-content: center;
		margin: 0 auto;
		width: 100%;
	}
	.footer-nav {
		width: 395px;
		margin: 0 auto 10px;
	}
	.footer-nav__item {
		width: 47%;
		font-size: 14px;
	}
	.footer-nav__item:nth-child(even) {
		margin-left: 20px;
	}
	.footer-social__list {
		justify-content: center;
	}
	.footer-social {
   		width: 170px;
   		margin: 0 auto;
	}
	.copyright {
		padding-top: 50px;
	}
	.copyright-wrap {
		font-size: 12px;
		justify-content: center;
	}
	.copyright-left {
		order: 2;
	}
	.copyright-right__img {
		margin: -22px 5px 0 5px;
	}
	.modal-callback .banner-form__input {
		display: block;
		width: 300px;
	}
	.modal-callback .help-text {
		top: 58px;
		left: 68%;
	}
	.modal-callback .design-form-wrap:last-child {
		margin-bottom: 35px;
	}
	.modal-map {
		max-width: 80%;
	}
	.blog-main-body .header-logo {
		margin-top: 15px
	}
	.header-blog-link {
		width: 100px;
		padding: 10px 20px;
		margin: 10px 0 0 auto;
	}
	.blog-main {
		padding: 0 10px 20px;
	}
	.blog-main__title {
		max-width: 90%;
		font-size: 24px;
	}
	.blog-main__img {
		width: 300px;
	}
	.blog-slider-wrap {
    	width: 520px;
    }
}

@media (max-width: 550px) {
	.header-nav__list {
		padding-left: 50px;
	}
	.header-nav__item {
		width: 100%;
		margin: 0 auto 20px 0;
	}
	.banner-form__input {
		width: 80%;
	}
	.partners__title {
		font-size: 20px;
	}
	.partners__btn_left {
		right: -2%;
	}
	.partners__btn_right {
		left: -2%;
	}
	.modal-map {
		max-width: 90%;
	}
	.blog-main-body {
		background: none;
	}
	.blog-main {
		padding: 0 0 15px;
	}
	.blog-main__title {
		max-width: 100%;
		font-size: 18px;
	}
	.blog-main__img,
	.blog-main__img_first,
	.blog-main__img_second {
		float: none;
		width: 300px;
		margin: 0 auto;
		padding: 0;
	}
	.blog-slider-wrap {
    	width: 380px;
    }
    .modal-portfolio {
		width: 390px;
	}
	.modal-portfolio__img-overlay {
		width: 390px;
	}
}
@media (max-width: 400px) {
	.banner-form__input {
		width: 90%;
	}
	.partners__title {
	    font-size: 18px;
	}
	.partners-carousel-box {
	    width: 190px;
	}
	.team__name {
		font-size: 14px;
	}
	.contacts-input-wrap {
		width: 100%;
	}
	.footer-nav {
		width: 100%;
	}
	.footer-nav__item {
    	width: 43%;
	}
	.modal-callback {
    	width: 315px;
    	height: 360px;
	}
	.modal-callback .help-text {
		left: 60%;
	}
	.modal-callback .banner-form__btn,
	.modal-callback .help-text_btn-cancel {
		width: 130px;
		padding: 15px;
	}
	.modal-callback .help-text_btn-cancel {
    	margin: -46px 6% 0 auto;
    }
    .blog-main__title {
		font-size: 17px;
	}
    .blog-slider-wrap {
    	width: 95%;
    	margin-bottom: -75px;
    }
    .blog-slider-wrap img {
    	max-width: 70%;
    	height: 250px;
    }
    .modal-portfolio {
		width: 320px;
	}
	.modal-portfolio__img-overlay {
		width: 315px;
	}
}
